openapi: 3.0.1
info:
  title: Criteo API
  description: Criteo API - RetailMedia
  version: Preview
servers:
- url: https://api.criteo.com
paths:
  /preview/retail-media/account-management/accounts/{accountId}/private-market-child-accounts:
    get:
      tags:
      - Accounts
      description: Gets Private Market child accounts that are associated with the given account
      operationId: GetPrivateMarketChildAccountsByAccountId
      parameters:
      - name: accountId
        in: path
        description: Account Id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of accounts to be returned. The default is 25.
        schema:
          type: integer
          format: int32
          default: 25
      - name: offset
        in: query
        description: The (zero-based) offset into the collection of accounts. The default is 0.
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            companyName:
                              type: string
                              description: Paying entity name of ads for the Digital Services Act
                              nullable: true
                            countryIds:
                              type: array
                              items:
                                type: string
                              description: list of countries associated with the account
                              nullable: true
                            currencyId:
                              type: string
                              description: the currency for the account
                              nullable: true
                            name:
                              type: string
                              description: account name
                              nullable: true
                            onBehalfCompanyName:
                              type: string
                              description: On behalf entity name of ads for the Digital Services Act
                              nullable: true
                            subType:
                              enum:
                              - Unknown
                              - Brand
                              - Seller
                              type: string
                              description: subtype for the account
                              nullable: true
                            timeZone:
                              type: string
                              description: the timezone for the account
                              nullable: true
                            type:
                              enum:
                              - Unknown
                              - Supply
                              - Demand
                              type: string
                              description: Type for the account
                              nullable: true
                          additionalProperties: false
                          description: The details for a newly created account
                          nullable: true
                          x-readme-ref-name: ExternalRetailMediaChildAccount
                        id:
                          type: string
                          description: Unique id of the entity.
                          nullable: true
                        type:
                          type: string
                          description: Type of the resource.
                          nullable: true
                      additionalProperties: false
                      description: A domain entity exposed by the API, identified by a unique id.
                      x-readme-ref-name: EntityResourceOfRetailMediaChildAccount
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Errors that occured during this call.
                    nullable: true
                    readOnly: true
                  metadata:
                    required:
                    - limit
                    - offset
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int64
                        nullable: true
                      limit:
                        type: integer
                        description: The number of elements to be returned.
                        format: int32
                      offset:
                        type: integer
                        description: The (zero-based) starting offset in the collection.
                        format: int32
                    additionalProperties: false
                    description: Metadata related to the current request.
                    nullable: true
                    x-readme-ref-name: Metadata
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Warnings that occured during this call.
                    nullable: true
                    readOnly: true
                additionalProperties: false
                description: A top-level object that encapsulates a Criteo API response for several entities and metadata.
                x-readme-ref-name: EntityResourceCollectionOutcomeOfRetailMediaChildAccountAndMetadata
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: Get Private Market Child Accounts By Account ID
  /preview/retail-media/accounts/{account-id}/audience-segments:
    patch:
      tags:
      - Audience
      description: Updates the properties of all segments with a valid configuration, and returns the full segments. For those that cannot be updated, one or multiple errors are returned.
      operationId: bulkUpdateAudienceSegments
      parameters:
      - name: account-id
        in: path
        description: Account id
        required: true
        schema:
          type: string
      requestBody:
        description: Segment Update request
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          contactList:
                            type: object
                            description: Settings to update the contact list of the segment
                            x-readme-ref-name: RmContactListUpdateV1
                          description:
                            type: object
                            properties:
                              value:
                                type: string
                                description: The string's value. If missing or null the string's value is set to "null"
                                nullable: true
                            description: Placeholder object for string value  for which "null" is a valid business value
                            nullable: true
                            x-readme-ref-name: NillableString
                          events:
                            type: object
                            properties:
                              brandIds:
                                type: array
                                items:
                                  type: string
                                description: Choose the brands your segment might be interested in
                              categoryIds:
                                type: array
                                items:
                                  type: string
                                description: Choose the categories your segment might be interested in
                              lookbackDays:
                                enum:
                                - Last7Days
                                - Last14Days
                                - Last30Days
                                - Last45Days
                                - Last60Days
                                - Last90Days
                                - Last120Days
                                - Last150Days
                                - Last180Days
                                type: string
                                description: Number of days of the lookback windows
                              maxPrice:
                                type: object
                                properties:
                                  value:
                                    type: number
                                    description: The value. If missing or null the value is set to "null"
                                    format: double
                                    nullable: true
                                description: Placeholder object for value for which "null" is a valid business value
                                nullable: true
                                x-readme-ref-name: NillableDecimal
                              minPrice:
                                type: object
                                properties:
                                  value:
                                    type: number
                                    description: The value. If missing or null the value is set to "null"
                                    format: double
                                    nullable: true
                                description: Placeholder object for value for which "null" is a valid business value
                                nullable: true
                                x-readme-ref-name: NillableDecimal
                              shopperActivity:
                                enum:
                                - View
                                - Buy
                                - AddToCart
                                type: string
                                description: Types of shopper activity.
                            description: Settings to target users based on their behavior
                            x-readme-ref-name: RmEventsUpdateV1
                          name:
                            type: string
                            description: Name of the segment
                        description: Set of rules that defines specific people to target.
                        x-criteo-canonical:
                          infoType: entity
                          name: RetailMediaAudienceSegment
                          version: v1
                        x-readme-ref-name: RmAudienceSegmentUpdateEntityV1
                      id:
                        type: string
                        description: Id of the entity
                      type:
                        type: string
                    description: A class that represents a domain entity exposed by an API
                    x-readme-ref-name: RmAudienceSegmentUpdateEntityV1Resource
              description: A top-level object that encapsulates a Criteo API request for several entities.
              x-readme-ref-name: RmAudienceSegmentBulkUpdateInputV1
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success or partial success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            accountId:
                              type: string
                              description: Account associated to the segment
                              nullable: true
                            channels:
                              type: array
                              items:
                                enum:
                                - Unknown
                                - Onsite
                                - Offsite
                                type: string
                              description: Channels associated to the segment (read-only)
                              nullable: true
                            contactList:
                              type: object
                              properties:
                                identifierType:
                                  enum:
                                  - Unknown
                                  - Email
                                  - UserIdentifier
                                  - IdentityLink
                                  - CustomerId
                                  - PhoneNumber
                                  type: string
                                  description: Indicates contact list identifier's type
                                  nullable: true
                                isReadOnly:
                                  type: boolean
                                  description: Is the segment read-only
                                  nullable: true
                                sharingStatus:
                                  enum:
                                  - Unknown
                                  - NotShared
                                  - SharedWithAll
                                  - SharedWithDemandAccounts
                                  type: string
                                  description: Indicates if the contact list is shared with other accounts
                                  nullable: true
                              description: Settings to target users with your contact lists.
                              nullable: true
                              x-readme-ref-name: RmContactListV1
                            createdAt:
                              type: string
                              description: ISO-8601 timestamp in UTC of segment creation (read-only)
                              format: date-time
                              nullable: true
                            createdById:
                              type: string
                              description: User that created the segment
                              nullable: true
                            description:
                              type: string
                              description: Description of the segment
                              nullable: true
                            events:
                              type: object
                              properties:
                                brandIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of brand ids
                                  nullable: true
                                categoryIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of category ids
                                  nullable: true
                                lookbackDays:
                                  enum:
                                  - Unknown
                                  - Last7Days
                                  - Last14Days
                                  - Last30Days
                                  - Last45Days
                                  - Last60Days
                                  - Last90Days
                                  - Last120Days
                                  - Last150Days
                                  - Last180Days
                                  type: string
                                  description: The number of days to look back
                                  nullable: true
                                maxPrice:
                                  type: number
                                  description: Maximum price of the products
                                  format: double
                                  nullable: true
                                minPrice:
                                  type: number
                                  description: Minimum price of the products
                                  format: double
                                  nullable: true
                                shopperActivity:
                                  enum:
                                  - Unknown
                                  - View
                                  - Buy
                                  - AddToCart
                                  type: string
                                  description: Reach people who performed specific action
                                  nullable: true
                              description: Settings to target users based on their behavior
                              nullable: true
                              x-readme-ref-name: RmEventsV1
                            name:
                              type: string
                              description: Name of the segment
                              nullable: true
                            retailerId:
                              type: string
                              description: Retailer  associated to the segment
                              nullable: true
                            type:
                              enum:
                              - Unknown
                              - ContactList
                              - Events
                              type: string
                              description: Type of segment (read-only)
                              nullable: true
                            updatedAt:
                              type: string
                              description: ISO-8601 timestamp in UTC of segment update (read-only)
                              format: date-time
                              nullable: true
                          description: Set of rules that defines specific people to target.
                          nullable: true
                          x-criteo-canonical:
                            infoType: entity
                            name: RetailMediaAudienceSegment
                            version: v1
                          x-readme-ref-name: RmAudienceSegmentEntityV1
                        id:
                          type: string
                          description: Id of the entity
                          nullable: true
                        type:
                          type: string
                          nullable: true
                      description: A class that represents a domain entity exposed by an API
                      x-readme-ref-name: RmAudienceSegmentEntityV1Resource
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for several entities
                x-readme-ref-name: RmAudienceSegmentEntityV1ListResponse
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: Bulk Update Audience Segments
  /preview/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list:
    get:
      tags:
      - Audience
      description: Returns the statistics of a contact list segment.
      operationId: getAudienceSegmentContactListStatistics
      parameters:
      - name: account-id
        in: path
        description: Account Id
        required: true
        schema:
          type: string
      - name: audience-segment-id
        in: path
        description: Segment Id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success or partial success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          matchRate:
                            type: number
                            description: "Percentage of matched identifiers in the contact list.\r\nCan differ from matches/identifiers depending on the contact list type."
                            format: double
                            nullable: true
                          numberOfIdentifiers:
                            type: integer
                            description: Number of identifiers in the contact list.
                            format: int32
                            nullable: true
                          numberOfMatches:
                            type: integer
                            description: Number of matched identifiers in the contact list.
                            format: int32
                            nullable: true
                        description: Contact list statistics.
                        nullable: true
                        x-criteo-canonical:
                          infoType: entity
                          name: ContactListStatistics
                          version: v1
                        x-readme-ref-name: RmContactListStatisticsEntityV1
                      id:
                        type: string
                        description: Id of the entity
                        nullable: true
                      type:
                        type: string
                        nullable: true
                    description: A class that represents a domain entity exposed by an API
                    nullable: true
                    x-readme-ref-name: RmContactListStatisticsEntityV1Resource
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single entity
                x-readme-ref-name: RmContactListStatisticsEntityV1Response
      security:
      - oauth:
        - RetailMedia_Audience_Read
      summary: Get Audience Segment Contact List Statistics
  /preview/retail-media/accounts/{account-id}/audience-segments/compute-sizes:
    post:
      tags:
      - Audience
      description: Gets the size of all segments. An error is returned for those whose size calculation is not supported.
      operationId: computeAudienceSegmentsSizes
      parameters:
      - name: account-id
        in: path
        description: Account id
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      required:
                      - channel
                      - ids
                      type: object
                      properties:
                        channel:
                          enum:
                          - Onsite
                          - Offsite
                          type: string
                          description: Channel to compute the sizes for.
                        ids:
                          type: array
                          items:
                            type: string
                          description: List of ids of the segments whose size is requested.
                      description: Segment Ids and channel whose size was requested.
                      x-readme-ref-name: RmAudienceSegmentComputeSizeEntityV1
                    type:
                      type: string
                  description: A top-level object that encapsulates a Criteo API response for a single value
                  x-readme-ref-name: RmAudienceSegmentComputeSizeEntityV1Resource
              description: A top-level object that encapsulates a Criteo API request for a single value.
              x-readme-ref-name: RmAudienceSegmentComputeSizesInputV1
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success or partial success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            relativeSize:
                              type: number
                              description: Reach in number of users relative to the total users of a retailer (e.g. 0.5523 / 55.23% users)
                              format: double
                              nullable: true
                            size:
                              type: integer
                              description: "Reach in absolute number of users (e.g. 150,300 users). It's not present when the user lacks permissions\r\nto view it."
                              format: int64
                              nullable: true
                          description: id and size of the segment
                          nullable: true
                          x-criteo-canonical:
                            infoType: entity
                            name: RetailMediaAudienceSegment
                            version: v1
                          x-readme-ref-name: RmAudienceSegmentSizeEntityV1
                        id:
                          type: string
                          description: Id of the entity
                          nullable: true
                        type:
                          type: string
                          nullable: true
                      description: A class that represents a domain entity exposed by an API
                      x-readme-ref-name: RmAudienceSegmentSizeEntityV1Resource
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for several entities
                x-readme-ref-name: RmAudienceSegmentSizeEntityV1ListResponse
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: Compute Audience Segments Sizes
  /preview/retail-media/accounts/{account-id}/audience-segments/create:
    post:
      tags:
      - Audience
      description: Creates all segments with a valid configuration, and returns the full segments. For those that cannot be created, one or multiple errors are returned.
      operationId: bulkCreateAudienceSegments
      parameters:
      - name: account-id
        in: path
        description: Account Id
        required: true
        schema:
          type: string
      requestBody:
        description: Segment creation parameter
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      attributes:
                        required:
                        - name
                        - retailerId
                        type: object
                        properties:
                          contactList:
                            type: object
                            properties:
                              identifierType:
                                enum:
                                - Email
                                - UserIdentifier
                                - IdentityLink
                                - CustomerId
                                - PhoneNumber
                                type: string
                                description: Indicates contact list type
                            description: Settings to target users with your contact lists.
                            x-readme-ref-name: RmContactListCreateV1
                          description:
                            type: string
                            description: Description of the segment
                          events:
                            required:
                            - lookbackDays
                            - shopperActivity
                            type: object
                            properties:
                              brandIds:
                                uniqueItems: true
                                type: array
                                items:
                                  type: string
                                description: Choose the brands your segment might be interested in
                              categoryIds:
                                uniqueItems: true
                                type: array
                                items:
                                  type: string
                                description: Choose the categories your segment might be interested in
                              lookbackDays:
                                enum:
                                - Last7Days
                                - Last14Days
                                - Last30Days
                                - Last45Days
                                - Last60Days
                                - Last90Days
                                - Last120Days
                                - Last150Days
                                - Last180Days
                                type: string
                                description: Number of days of the lookback windows
                              maxPrice:
                                type: number
                                description: Reach people who’ve shown interest in products with a maximum price
                                format: double
                              minPrice:
                                type: number
                                description: Reach people who’ve shown interest in products with a minimum price
                                format: double
                              shopperActivity:
                                enum:
                                - View
                                - Buy
                                - AddToCart
                                type: string
                                description: Types of shopper activity.
                            description: Settings to target users based on their behavior
                            x-readme-ref-name: RmEventsCreateV1
                          name:
                            type: string
                            description: Name of the segment
                          retailerId:
                            type: string
                            description: Retailer  associated to the segment
                        description: Set of rules that defines specific people to target.
                        x-readme-ref-name: RmAudienceSegmentCreateEntityV1
                      type:
                        type: string
                    description: A top-level object that encapsulates a Criteo API response for a single value
                    x-readme-ref-name: RmAudienceSegmentCreateEntityV1Resource
              description: A top-level object that encapsulates a Criteo API request for several values.
              x-readme-ref-name: RmAudienceSegmentBulkCreateInputV1
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success or partial success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            accountId:
                              type: string
                              description: Account associated to the segment
                              nullable: true
                            channels:
                              type: array
                              items:
                                enum:
                                - Unknown
                                - Onsite
                                - Offsite
                                type: string
                              description: Channels associated to the segment (read-only)
                              nullable: true
                            contactList:
                              type: object
                              properties:
                                identifierType:
                                  enum:
                                  - Unknown
                                  - Email
                                  - UserIdentifier
                                  - IdentityLink
                                  - CustomerId
                                  - PhoneNumber
                                  type: string
                                  description: Indicates contact list identifier's type
                                  nullable: true
                                isReadOnly:
                                  type: boolean
                                  description: Is the segment read-only
                                  nullable: true
                                sharingStatus:
                                  enum:
                                  - Unknown
                                  - NotShared
                                  - SharedWithAll
                                  - SharedWithDemandAccounts
                                  type: string
                                  description: Indicates if the contact list is shared with other accounts
                                  nullable: true
                              description: Settings to target users with your contact lists.
                              nullable: true
                              x-readme-ref-name: RmContactListV1
                            createdAt:
                              type: string
                              description: ISO-8601 timestamp in UTC of segment creation (read-only)
                              format: date-time
                              nullable: true
                            createdById:
                              type: string
                              description: User that created the segment
                              nullable: true
                            description:
                              type: string
                              description: Description of the segment
                              nullable: true
                            events:
                              type: object
                              properties:
                                brandIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of brand ids
                                  nullable: true
                                categoryIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of category ids
                                  nullable: true
                                lookbackDays:
                                  enum:
                                  - Unknown
                                  - Last7Days
                                  - Last14Days
                                  - Last30Days
                                  - Last45Days
                                  - Last60Days
                                  - Last90Days
                                  - Last120Days
                                  - Last150Days
                                  - Last180Days
                                  type: string
                                  description: The number of days to look back
                                  nullable: true
                                maxPrice:
                                  type: number
                                  description: Maximum price of the products
                                  format: double
                                  nullable: true
                                minPrice:
                                  type: number
                                  description: Minimum price of the products
                                  format: double
                                  nullable: true
                                shopperActivity:
                                  enum:
                                  - Unknown
                                  - View
                                  - Buy
                                  - AddToCart
                                  type: string
                                  description: Reach people who performed specific action
                                  nullable: true
                              description: Settings to target users based on their behavior
                              nullable: true
                              x-readme-ref-name: RmEventsV1
                            name:
                              type: string
                              description: Name of the segment
                              nullable: true
                            retailerId:
                              type: string
                              description: Retailer  associated to the segment
                              nullable: true
                            type:
                              enum:
                              - Unknown
                              - ContactList
                              - Events
                              type: string
                              description: Type of segment (read-only)
                              nullable: true
                            updatedAt:
                              type: string
                              description: ISO-8601 timestamp in UTC of segment update (read-only)
                              format: date-time
                              nullable: true
                          description: Set of rules that defines specific people to target.
                          nullable: true
                          x-criteo-canonical:
                            infoType: entity
                            name: RetailMediaAudienceSegment
                            version: v1
                          x-readme-ref-name: RmAudienceSegmentEntityV1
                        id:
                          type: string
                          description: Id of the entity
                          nullable: true
                        type:
                          type: string
                          nullable: true
                      description: A class that represents a domain entity exposed by an API
                      x-readme-ref-name: RmAudienceSegmentEntityV1Resource
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for several entities
                x-readme-ref-name: RmAudienceSegmentEntityV1ListResponse
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: Bulk Create Audience Segments
  /preview/retail-media/accounts/{account-id}/audience-segments/delete:
    post:
      tags:
      - Audience
      description: Delete the segments associated to the given IDs.
      operationId: bulkDeleteAudienceSegments
      parameters:
      - name: account-id
        in: path
        description: Account id
        required: true
        schema:
          type: string
      requestBody:
        description: Segment delete request.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      attributes:
                        type: object
                        description: Segment to delete
                        x-criteo-canonical:
                          infoType: entity
                          name: RetailMediaAudienceSegment
                          version: v1
                        x-readme-ref-name: RmAudienceSegmentDeleteEntityV1
                      id:
                        type: string
                        description: Id of the entity
                      type:
                        type: string
                    description: A class that represents a domain entity exposed by an API
                    x-readme-ref-name: RmAudienceSegmentDeleteEntityV1Resource
              description: A top-level object that encapsulates a Criteo API request for several entities.
              x-readme-ref-name: RmAudienceSegmentBulkDeleteInputV1
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success or partial success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          description: Audience Segment entity only with its ID
                          nullable: true
                          x-criteo-canonical:
                            infoType: entity
                            name: RetailMediaAudienceSegment
                            version: v1
                          x-readme-ref-name: RmAudienceSegmentIdEntityV1
                        id:
                          type: string
                          description: Id of the entity
                          nullable: true
                        type:
                          type: string
                          nullable: true
                      description: A class that represents a domain entity exposed by an API
                      x-readme-ref-name: RmAudienceSegmentIdEntityV1Resource
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for several entities
                x-readme-ref-name: RmAudienceSegmentIdEntityV1ListResponse
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: Bulk Delete Audience Segments
  /preview/retail-media/accounts/{account-id}/audience-segments/estimate-size:
    post:
      tags:
      - Audience
      description: Gets the size estimation of a non existent segment. An error is returned when size calculation is not supported.
      operationId: estimateAudienceSegmentSize
      parameters:
      - name: account-id
        in: path
        description: Account Id
        required: true
        schema:
          type: string
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      required:
                      - channel
                      - events
                      - retailerId
                      type: object
                      properties:
                        channel:
                          enum:
                          - Onsite
                          - Offsite
                          type: string
                          description: Channel to estimate the size
                        events:
                          required:
                          - lookbackDays
                          - shopperActivity
                          type: object
                          properties:
                            brandIds:
                              uniqueItems: true
                              type: array
                              items:
                                type: string
                            categoryIds:
                              uniqueItems: true
                              type: array
                              items:
                                type: string
                            lookbackDays:
                              enum:
                              - Last7Days
                              - Last14Days
                              - Last30Days
                              - Last45Days
                              - Last60Days
                              - Last90Days
                              - Last120Days
                              - Last150Days
                              - Last180Days
                              type: string
                            maxPrice:
                              type: number
                              format: double
                            minPrice:
                              type: number
                              format: double
                            shopperActivity:
                              enum:
                              - View
                              - Buy
                              - AddToCart
                              type: string
                          description: Settings to target users based on the shopping events
                          x-readme-ref-name: RmEventsEstimationV1
                        retailerId:
                          type: string
                          description: Retailer id of the segment
                      description: Set of rules that defines specific people to target.
                      x-readme-ref-name: RmAudienceSegmentEstimateSizeEntityV1
                    type:
                      type: string
                  description: A top-level object that encapsulates a Criteo API response for a single value
                  x-readme-ref-name: RmAudienceSegmentEstimateSizeEntityV1Resource
              description: A top-level object that encapsulates a Criteo API request for a single value.
              x-readme-ref-name: RmAudienceSegmentEstimateSizeInputV1
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          relativeSize:
                            type: number
                            description: Reach in number of users relative to the total users of a retailer (e.g. 0.5523 / 55.23% users)
                            format: double
                            nullable: true
                          size:
                            type: integer
                            description: "Reach in absolute number of users (e.g. 150,300 users). It's not present when the user lacks permissions\r\nto view it."
                            format: int64
                            nullable: true
                        description: Segment size estimation
                        nullable: true
                        x-readme-ref-name: RmAudienceSegmentSizeEstimationV1
                      type:
                        type: string
                        nullable: true
                    description: A top-level object that encapsulates a Criteo API response for a single value
                    nullable: true
                    x-readme-ref-name: RmAudienceSegmentSizeEstimationV1Resource
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single value
                x-readme-ref-name: RmAudienceSegmentSizeEstimationV1Response
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: Estimate Audience Segment Size
  /preview/retail-media/accounts/{account-id}/audience-segments/search:
    post:
      tags:
      - Audience
      description: Returns a list of segments that match the provided filters. If present, the filters are AND'ed together when applied.
      operationId: searchAudienceSegments
      parameters:
      - name: account-id
        in: path
        description: Account Id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of elements to be returned. The default is 50 and the maximum is 500.
        schema:
          maximum: 500
          minimum: 0
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        description: The (zero-based) offset into the collection. The default is 0.
        schema:
          type: integer
          format: int32
          default: 0
      requestBody:
        description: Segment search filters.
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        audienceSegmentIds:
                          type: array
                          items:
                            type: string
                          description: List of segment ids
                        audienceSegmentTypes:
                          type: array
                          items:
                            enum:
                            - Unknown
                            - ContactList
                            - Events
                            type: string
                          description: List of segment types
                        retailerIds:
                          type: array
                          items:
                            type: string
                          description: List of retailer ids
                      description: Available filters to perform a search on audience segments. If present, the filters are AND'ed together when applied.
                      x-readme-ref-name: RmAudienceSegmentSearchEntityV1
                    type:
                      type: string
                  description: A top-level object that encapsulates a Criteo API response for a single value
                  x-readme-ref-name: RmAudienceSegmentSearchEntityV1Resource
              description: A top-level object that encapsulates a Criteo API request for a single value.
              x-readme-ref-name: RmAudienceSegmentSearchInputV1
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success or partial success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            accountId:
                              type: string
                              description: Account associated to the segment
                              nullable: true
                            channels:
                              type: array
                              items:
                                enum:
                                - Unknown
                                - Onsite
                                - Offsite
                                type: string
                              description: Channels associated to the segment (read-only)
                              nullable: true
                            contactList:
                              type: object
                              properties:
                                identifierType:
                                  enum:
                                  - Unknown
                                  - Email
                                  - UserIdentifier
                                  - IdentityLink
                                  - CustomerId
                                  - PhoneNumber
                                  type: string
                                  description: Indicates contact list identifier's type
                                  nullable: true
                                isReadOnly:
                                  type: boolean
                                  description: Is the segment read-only
                                  nullable: true
                                sharingStatus:
                                  enum:
                                  - Unknown
                                  - NotShared
                                  - SharedWithAll
                                  - SharedWithDemandAccounts
                                  type: string
                                  description: Indicates if the contact list is shared with other accounts
                                  nullable: true
                              description: Settings to target users with your contact lists.
                              nullable: true
                              x-readme-ref-name: RmContactListV1
                            createdAt:
                              type: string
                              description: ISO-8601 timestamp in UTC of segment creation (read-only)
                              format: date-time
                              nullable: true
                            createdById:
                              type: string
                              description: User that created the segment
                              nullable: true
                            description:
                              type: string
                              description: Description of the segment
                              nullable: true
                            events:
                              type: object
                              properties:
                                brandIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of brand ids
                                  nullable: true
                                categoryIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of category ids
                                  nullable: true
                                lookbackDays:
                                  enum:
                                  - Unknown
                                  - Last7Days
                                  - Last14Days
                                  - Last30Days
                                  - Last45Days
                                  - Last60Days
                                  - Last90Days
                                  - Last120Days
                                  - Last150Days
                                  - Last180Days
                                  type: string
                                  description: The number of days to look back
                                  nullable: true
                                maxPrice:
                                  type: number
                                  description: Maximum price of the products
                                  format: double
                                  nullable: true
                                minPrice:
                                  type: number
                                  description: Minimum price of the products
                                  format: double
                                  nullable: true
                                shopperActivity:
                                  enum:
                                  - Unknown
                                  - View
                                  - Buy
                                  - AddToCart
                                  type: string
                                  description: Reach people who performed specific action
                                  nullable: true
                              description: Settings to target users based on their behavior
                              nullable: true
                              x-readme-ref-name: RmEventsV1
                            name:
                              type: string
                              description: Name of the segment
                              nullable: true
                            retailerId:
                              type: string
                              description: Retailer  associated to the segment
                              nullable: true
                            type:
                              enum:
                              - Unknown
                              - ContactList
                              - Events
                              type: string
                              description: Type of segment (read-only)
                              nullable: true
                            updatedAt:
                              type: string
                              description: ISO-8601 timestamp in UTC of segment update (read-only)
                              format: date-time
                              nullable: true
                          description: Set of rules that defines specific people to target.
                          nullable: true
                          x-criteo-canonical:
                            infoType: entity
                            name: RetailMediaAudienceSegment
                            version: v1
                          x-readme-ref-name: RmAudienceSegmentEntityV1
                        id:
                          type: string
                          description: Id of the entity
                          nullable: true
                        type:
                          type: string
                          nullable: true
                      description: A class that represents a domain entity exposed by an API
                      x-readme-ref-name: RmAudienceSegmentEntityV1Resource
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  meta:
                    type: object
                    properties:
                      limit:
                        type: integer
                        description: Max item of the current page
                        format: int32
                        nullable: true
                      offset:
                        type: integer
                        description: Number of item to skip
                        format: int32
                        nullable: true
                      totalItems:
                        type: integer
                        description: Total number of items
                        format: int32
                        nullable: true
                    description: Metadata for the audience segment search response.
                    nullable: true
                    x-readme-ref-name: RmAudienceSegmentSearchMetadataV1
                  warnings:
                    type: array
                    items:
[...]
