openapi: 3.0.1
info:
  title: Criteo API
  description: Criteo API - MarketingSolutions
  version: 2024-01
servers:
- url: https://api.criteo.com
paths:
  /2024-01/audiences/{audience-segment-id}/contactlist:
    delete:
      tags:
      - Audience
      description: Delete all identifiers from a contact list audience-segment.
      responses:
        '200':
          description: The Contact List was emptied
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - id
                    - type
                    type: object
                    properties:
                      id:
                        type: string
                        description: the id of the entity type
                      type:
                        type: string
                        description: the name of the entity type
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name to designate the audience by
                            nullable: true
                            x-optional-in-response: true
                          description:
                            type: string
                            description: The description of the audience
                            nullable: true
                            x-optional-in-response: true
                        description: Description of an audience with name and detailed description
                        nullable: true
                        x-used-in-response: true
                        x-optional-in-response: true
                        x-readme-ref-name: AudienceNameDescription
                    description: Common definition of an audience
                    x-used-in-response: true
                    x-readme-ref-name: BasicAudienceDefinition
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                description: Response of a contactlist deletion
                x-used-in-response: true
                x-readme-ref-name: DeleteAudienceContactListResponse
              example:
                data:
                  id: '1'
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                    nullable: true
                    x-optional-in-response: true
                description: Definition of the error code
                x-used-in-response: true
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Delete All Identifiers From A Contact List Audience Segment
    patch:
      tags:
      - Audience
      description: Add/remove identifiers to or from a contact list audience-segment.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - data
              type: object
              properties:
                data:
                  required:
                  - attributes
                  - type
                  type: object
                  properties:
                    type:
                      type: string
                      description: User List
                      example: ContactlistAmendment
                    attributes:
                      required:
                      - identifiers
                      - operation
                      type: object
                      properties:
                        operation:
                          enum:
                          - add
                          - remove
                          type: string
                          description: Operation to add or remove users
                        identifierType:
                          enum:
                          - email
                          - madid
                          - identityLink
                          - gum
                          - phoneNumber
                          type: string
                          description: What type of identifiers are used
                        identifiers:
                          type: array
                          items:
                            type: string
                          description: The users to add or remove, each in the schema specified
                        gumCallerId:
                          type: integer
                          description: The Gum caller id of the advertiser patching identifiers of type Gum
                      description: the name of the entity type
                  description: Parameters for the amendment of a contactlist
                  x-used-in-request: true
                  x-readme-ref-name: ContactlistAmendment
              description: Request for a contactlist amendment
              x-used-in-request: true
              x-readme-ref-name: ContactlistAmendmentRequest
        required: true
        x-bodyName: body
      responses:
        '200':
          description: Summary of created request
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - attributes
                    - type
                    type: object
                    properties:
                      type:
                        type: string
                        description: the name of the entity type
                      attributes:
                        required:
                        - operation
                        type: object
                        properties:
                          contactListId:
                            type: integer
                            description: the affected user list id
                            nullable: true
                            x-optional-in-response: true
                          operation:
                            type: string
                            description: The action recorded
                          requestDate:
                            type: string
                            description: When the action was recorded
                            format: date-time
                            nullable: true
                            x-optional-in-response: true
                          identifierType:
                            type: string
                            description: The schema specified for of the identifiers
                            nullable: true
                            x-optional-in-response: true
                          nbValidIdentifiers:
                            type: integer
                            description: How many identifiers were valid for the specified schema
                            nullable: true
                            x-optional-in-response: true
                          nbInvalidIdentifiers:
                            type: integer
                            description: How many identifiers were invalid for the specified schema
                            nullable: true
                            x-optional-in-response: true
                          sampleInvalidIdentifiers:
                            type: array
                            items:
                              type: string
                            description: A sample of invalid identifiers if there is some
                            nullable: true
                            x-optional-in-response: true
                        description: the contactlist operation attributes
                    description: Response definition of a contactlist operation
                    x-used-in-response: true
                    x-readme-ref-name: ContactlistOperation
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                description: Parameters to modify an audience
                x-used-in-response: true
                x-readme-ref-name: ModifyAudienceResponse
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: '2018-12-10T10:00:50.0000000+00:00'
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                    nullable: true
                    x-optional-in-response: true
                description: Definition of the error code
                x-used-in-response: true
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '404':
          description: Audience 123 not found
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                    nullable: true
                    x-optional-in-response: true
                description: Definition of the error code
                x-used-in-response: true
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Add Remove Identifiers To Or From A Contact List Audience Segment
    parameters:
    - name: audience-segment-id
      in: path
      description: The id of the contact list audience-segment to amend
      required: true
      style: simple
      schema:
        type: string
        format: int32
  /2024-01/marketing-solutions/audience-segments/{audience-segment-id}/contact-list:
    delete:
      tags:
      - Audience
      description: Delete all identifiers from a contact list audience-segment.
      responses:
        '200':
          description: The Contact List was emptied
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - id
                    - type
                    type: object
                    properties:
                      id:
                        type: string
                        description: the id of the entity type
                      type:
                        type: string
                        description: the name of the entity type
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name to designate the audience by
                            nullable: true
                            x-optional-in-response: true
                          description:
                            type: string
                            description: The description of the audience
                            nullable: true
                            x-optional-in-response: true
                        description: Description of an audience with name and detailed description
                        nullable: true
                        x-used-in-response: true
                        x-optional-in-response: true
                        x-readme-ref-name: AudienceNameDescription
                    description: Common definition of an audience
                    x-used-in-response: true
                    x-readme-ref-name: BasicAudienceDefinition
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                description: Response of a contactlist deletion
                x-used-in-response: true
                x-readme-ref-name: DeleteAudienceContactListResponse
              example:
                data:
                  id: '1'
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                    nullable: true
                    x-optional-in-response: true
                description: Definition of the error code
                x-used-in-response: true
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Delete All Identifiers From A Contact List Audience Segment
    patch:
      tags:
      - Audience
      description: Add/remove identifiers to or from a contact list audience-segment.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - data
              type: object
              properties:
                data:
                  required:
                  - attributes
                  - type
                  type: object
                  properties:
                    type:
                      type: string
                      description: User List
                      example: ContactlistAmendment
                    attributes:
                      required:
                      - identifiers
                      - operation
                      type: object
                      properties:
                        operation:
                          enum:
                          - add
                          - remove
                          type: string
                          description: Operation to add or remove users
                        identifierType:
                          enum:
                          - email
                          - madid
                          - identityLink
                          - gum
                          - phoneNumber
                          type: string
                          description: What type of identifiers are used
                        identifiers:
                          type: array
                          items:
                            type: string
                          description: The users to add or remove, each in the schema specified
                        gumCallerId:
                          type: integer
                          description: The Gum caller id of the advertiser patching identifiers of type Gum
                      description: the name of the entity type
                  description: Parameters for the amendment of a contactlist
                  x-used-in-request: true
                  x-readme-ref-name: ContactlistAmendment
              description: Request for a contactlist amendment
              x-used-in-request: true
              x-readme-ref-name: ContactlistAmendmentRequest
        required: true
        x-bodyName: body
      responses:
        '200':
          description: Summary of created request
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - attributes
                    - type
                    type: object
                    properties:
                      type:
                        type: string
                        description: the name of the entity type
                      attributes:
                        required:
                        - operation
                        type: object
                        properties:
                          contactListId:
                            type: integer
                            description: the affected user list id
                            nullable: true
                            x-optional-in-response: true
                          operation:
                            type: string
                            description: The action recorded
                          requestDate:
                            type: string
                            description: When the action was recorded
                            format: date-time
                            nullable: true
                            x-optional-in-response: true
                          identifierType:
                            type: string
                            description: The schema specified for of the identifiers
                            nullable: true
                            x-optional-in-response: true
                          nbValidIdentifiers:
                            type: integer
                            description: How many identifiers were valid for the specified schema
                            nullable: true
                            x-optional-in-response: true
                          nbInvalidIdentifiers:
                            type: integer
                            description: How many identifiers were invalid for the specified schema
                            nullable: true
                            x-optional-in-response: true
                          sampleInvalidIdentifiers:
                            type: array
                            items:
                              type: string
                            description: A sample of invalid identifiers if there is some
                            nullable: true
                            x-optional-in-response: true
                        description: the contactlist operation attributes
                    description: Response definition of a contactlist operation
                    x-used-in-response: true
                    x-readme-ref-name: ContactlistOperation
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                description: Parameters to modify an audience
                x-used-in-response: true
                x-readme-ref-name: ModifyAudienceResponse
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: '2018-12-10T10:00:50.0000000+00:00'
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                    nullable: true
                    x-optional-in-response: true
                description: Definition of the error code
                x-used-in-response: true
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '404':
          description: Audience 123 not found
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of an audience error
                      x-used-in-response: true
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                          x-optional-in-response: true
                      description: Definition of the warning
                      x-used-in-response: true
                      x-readme-ref-name: AudienceWarning
                    nullable: true
                    x-optional-in-response: true
                description: Definition of the error code
                x-used-in-response: true
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Add Remove Identifiers To Or From A Contact List Audience Segment
    parameters:
    - name: audience-segment-id
      in: path
      description: The id of the contact list audience-segment to amend
      required: true
      style: simple
      schema:
        type: string
        format: int32
  /2024-01/marketing-solutions/me:
    get:
      tags:
      - Gateway
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        nullable: true
                        x-optional-in-response: true
                      attributes:
                        type: object
                        properties:
                          applicationId:
                            type: integer
                            format: int32
                            nullable: true
                            x-optional-in-response: true
                          name:
                            type: string
                            nullable: true
                            x-optional-in-response: true
                          organizationId:
                            type: integer
                            format: int32
                            nullable: true
                            x-optional-in-response: true
                          description:
                            type: string
                            nullable: true
                            x-optional-in-response: true
                          criteoService:
                            type: string
                            nullable: true
                            x-optional-in-response: true
                        description: Used for the /me endpoint. Contains information about the currently authenticated application that we accept to give to our clients
                        nullable: true
                        x-used-in-response: true
                        x-optional-in-response: true
                        x-readme-ref-name: ApplicationSummaryModel
                    description: A top-level object that encapsulates a Criteo API response for a single value
                    nullable: true
                    x-used-in-response: true
                    x-optional-in-response: true
                    x-readme-ref-name: ApplicationSummaryModelResource
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                          x-optional-in-response: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                          x-optional-in-response: true
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                          x-optional-in-response: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: string
                          nullable: true
                          x-optional-in-response: true
                      description: Common problem object.
                      x-used-in-response: true
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                    x-optional-in-response: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                          x-optional-in-response: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                          x-optional-in-response: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                          x-optional-in-response: true
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                          x-optional-in-response: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                          x-optional-in-response: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                          x-optional-in-response: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                          x-optional-in-response: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                          x-optional-in-response: true
                        stackTrace:
                          type: string
                          nullable: true
                          x-optional-in-response: true
                      description: Common problem object.
                      x-used-in-response: true
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                    x-optional-in-response: true
                description: A top-level object that encapsulates a Criteo API response for a single value
                x-used-in-response: true
                x-readme-ref-name: ApplicationSummaryModelResponse
        '404':
          description: Not Found
          content:
            application/json: {}
      summary: Get Current Application
  /2024-01/marketing-solutions/ad-sets/{ad-set-id}/audience:
    put:
      tags:
      - Campaign
      description: Link or unlink an audience with an ad set
      operationId: updateAdSetAudience
      parameters:
      - name: ad-set-id
        in: path
        description: The ad set ID.
        required: true
        style: simple
        schema:
          type: string
      requestBody:
        description: Ad set-Audience update request.
        content:
          application/json-patch+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        audienceId:
                          type: string
                          nullable: true
                          x-optional-in-response: true
                      description: Link Audience with an ad set
                      nullable: true
                      x-criteo-canonical:
                        infoType: entity
                        name: AdSetAudience
                        version: v1
                      x-used-in-request: true
                      x-used-in-response: true
                      x-optional-in-response: true
                      x-readme-ref-name: AdSetAudienceLinkEntityV1
                    id:
                      type: string
                      description: Id of the entity
                      nullable: true
                      x-optional-in-response: true
                    type:
                      type: string
                      nullable: true
                      x-optional-in-response: true
                  description: A class that represents a domain entity exposed by an API
                  nullable: true
                  x-used-in-request: true
                  x-used-in-response: true
                  x-optional-in-response: true
                  x-readme-ref-name: AdSetAudienceLinkEntityV1Resource
              description: Input to set audience ad set link.
              x-used-in-request: true
              x-readme-ref-name: AdSetAudienceLinkInputEntityV1
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        audienceId:
                          type: string
                          nullable: true
                          x-optional-in-response: true
                      description: Link Audience with an ad set
                      nullable: true
                      x-criteo-canonical:
                        infoType: entity
                        name: AdSetAudience
                        version: v1
                      x-used-in-request: true
                      x-used-in-response: true
                      x-optional-in-response: true
                      x-readme-ref-name: AdSetAudienceLinkEntityV1
                    id:
                      type: string
                      description: Id of the entity
                      nullable: true
                      x-optional-in-response: true
                    type:
                      type: string
                      nullable: true
                      x-optional-in-response: true
                  description: A class that represents a domain entity exposed by an API
                  nullable: true
                  x-used-in-request: true
                  x-used-in-response: true
                  x-optional-in-response: true
                  x-readme-ref-name: AdSetAudienceLinkEntityV1Resource
              description: Input to set audience ad set link.
              x-used-in-request: true
              x-readme-ref-name: AdSetAudienceLinkInputEntityV1
          text/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        audienceId:
                          type: string
                          nullable: true
                          x-optional-in-response: true
                      description: Link Audience with an ad set
                      nullable: true
                      x-criteo-canonical:
                        infoType: entity
                        name: AdSetAudience
                        version: v1
                      x-used-in-request: true
                      x-used-in-response: true
                      x-optional-in-response: true
                      x-readme-ref-name: AdSetAudienceLinkEntityV1
                    id:
                      type: string
                      description: Id of the entity
                      nullable: true
                      x-optional-in-response: true
                    type:
                      type: string
                      nullable: true
                      x-optional-in-response: true
                  description: A class that represents a domain entity exposed by an API
                  nullable: true
                  x-used-in-request: true
                  x-used-in-response: true
                  x-optional-in-response: true
                  x-readme-ref-name: AdSetAudienceLinkEntityV1Resource
              description: Input to set audience ad set link.
              x-used-in-request: true
              x-readme-ref-name: AdSetAudienceLinkInputEntityV1
          application/*+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        audienceId:
                          type: string
                          nullable: true
                          x-optional-in-response: true
                      description: Link Audience with an ad set
                      nullable: true
                      x-criteo-canonical:
                        infoType: entity
                        name: AdSetAudience
                        version: v1
                      x-used-in-request: true
                      x-used-in-response: true
                      x-optional-in-response: true
                      x-readme-ref-name: AdSetAudienceLinkEntityV1
                    id:
                      type: string
                      description: Id of the entity
                      nullable: true
                      x-optional-in-response: true
                    type:
                      type: string
                      nullable: true
                      x-optional-in-response: true
                  description: A class that represents a domain entity exposed by an API
                  nullable: true
                  x-used-in-request: true
                  x-used-in-response: true
[...]
