openapi: 3.0.1
info:
  title: Criteo API
  description: Criteo API - MarketingSolutions
  version: 2023-07
servers:
- url: https://api.criteo.com
paths:
  /2023-07/audiences:
    get:
      tags:
      - Audience
      description: Get a list of all the audiences for the user or for the given advertiser_id
      operationId: getAudiences
      parameters:
      - name: advertiser-id
        in: query
        description: "The advertiser id to get all the audiences for.\nMandatory for internal users. For external users,\n           if you don't provide it, we will take into account the advertisers from your portfolio"
        style: form
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: The list was retrieved.
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    type: array
                    items:
                      required:
                      - attributes
                      - id
                      - type
                      type: object
                      properties:
                        type:
                          type: string
                          description: the name of the entity type
                          example: Audience
                        id:
                          type: string
                          description: id of the Audience
                          example: '314159'
                        attributes:
                          required:
                          - created
                          - description
                          - name
                          - updated
                          type: object
                          properties:
                            advertiserId:
                              type: string
                              description: The advertiser id that owns this Audience
                              format: int32
                            name:
                              type: string
                              description: The name of the Audience
                            description:
                              type: string
                              description: The string description of the Audience
                            created:
                              type: string
                              description: Date and time ISO 8601 formatted string
                              format: date-time
                            updated:
                              type: string
                              description: Date and time ISO 8601 formatted string
                              format: date-time
                            nbLines:
                              type: integer
                              description: The number of line in the audience available once processed
                            nbLinesEmail:
                              type: integer
                              description: The number of email line in the audience available once processed
                            nbMatchesEmail:
                              type: integer
                              description: The number of email matches in the audience available once processed
                      description: Definition of an audience and all its information
                      x-readme-ref-name: Audience
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Body of the GET audience operation
                x-readme-ref-name: GetAudiencesResponse
              example:
                data:
                - type: AudienceContactlist
                  id: '1'
                  attributes:
                    advertiserId: '18'
                    name: Audience name
                    description: Audience
                    created: '2018-12-10T10:00:50.0000000+00:00'
                    updated: '2018-12-10T10:17:15.0000000+00:00'
                    nbLines: 100
                    nbLinesEmail: 10
                    nbMatchesEmail: 10
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Get Audiences
    post:
      tags:
      - Audience
      description: Create an Audience for an Advertiser
      operationId: createAudience
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  required:
                  - attributes
                  - type
                  type: object
                  properties:
                    type:
                      type: string
                      description: the name of the entity type
                      example: Audience
                    attributes:
                      required:
                      - name
                      type: object
                      properties:
                        advertiserId:
                          type: string
                          description: The advertiser id to create the audience for
                        name:
                          type: string
                          description: The name of the new audience
                        description:
                          type: string
                          description: The description of the audience
                  description: Body for the creation of a new audience (name, advertiserId, etc)
                  x-readme-ref-name: NewAudience
              description: Body of creation of a new audience
              x-readme-ref-name: NewAudienceRequest
        required: true
        x-bodyName: body
      responses:
        '200':
          description: The audience was created
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - id
                    - type
                    type: object
                    properties:
                      id:
                        type: string
                        description: the id of the entity type
                      type:
                        type: string
                        description: the name of the entity type
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name to designate the audience by
                          description:
                            type: string
                            description: The description of the audience
                        description: Description of an audience with name and detailed description
                        x-readme-ref-name: AudienceNameDescription
                    description: Common definition of an audience
                    x-readme-ref-name: BasicAudienceDefinition
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Response of a newly created audience
                x-readme-ref-name: NewAudienceResponse
              example:
                data:
                  id: '1'
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Create Audience
  /2023-07/audiences/{audience-id}/contactlist:
    delete:
      tags:
      - Audience
      description: delete all identifiers from an Audience
      operationId: deleteIdentifiers
      responses:
        '200':
          description: The contactlist was deleted
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - id
                    - type
                    type: object
                    properties:
                      id:
                        type: string
                        description: the id of the entity type
                      type:
                        type: string
                        description: the name of the entity type
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name to designate the audience by
                          description:
                            type: string
                            description: The description of the audience
                        description: Description of an audience with name and detailed description
                        x-readme-ref-name: AudienceNameDescription
                    description: Common definition of an audience
                    x-readme-ref-name: BasicAudienceDefinition
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Response of a contactlist deletion
                x-readme-ref-name: DeleteAudienceContactListResponse
              example:
                data:
                  id: '1'
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Delete Identifiers
    patch:
      tags:
      - Audience
      description: Add/remove users to or from an audience
      operationId: modifyAudienceUsers
      requestBody:
        content:
          application/json:
            schema:
              required:
              - data
              type: object
              properties:
                data:
                  required:
                  - attributes
                  - type
                  type: object
                  properties:
                    type:
                      type: string
                      description: User List
                      example: ContactlistAmendment
                    attributes:
                      required:
                      - identifiers
                      - operation
                      type: object
                      properties:
                        operation:
                          enum:
                          - add
                          - remove
                          type: string
                          description: Operation to add or remove users
                        identifierType:
                          enum:
                          - email
                          - madid
                          - identityLink
                          - gum
                          - customerid
                          type: string
                          description: What type of identifiers are used
                        identifiers:
                          type: array
                          items:
                            type: string
                          description: The users tos add or remove, each in the schema specified
                        gumCallerId:
                          type: integer
                          description: The Gum caller id of the advertiser patching identifiers of type Gum
                      description: the name of the entity type
                  description: Parameters for the amendment of a contactlist
                  x-readme-ref-name: ContactlistAmendment
              description: Request for a contactlist amendment
              x-readme-ref-name: ContactlistAmendmentRequest
        required: true
        x-bodyName: body
      responses:
        '200':
          description: Summary of created request
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - attributes
                    - type
                    type: object
                    properties:
                      type:
                        type: string
                        description: the name of the entity type
                      attributes:
                        required:
                        - operation
                        type: object
                        properties:
                          contactListId:
                            type: integer
                            description: the affected user list id
                          operation:
                            type: string
                            description: The action recorded
                          requestDate:
                            type: string
                            description: When the action was recorded
                            format: date-time
                          identifierType:
                            type: string
                            description: The schema specified for of the identifiers
                          nbValidIdentifiers:
                            type: integer
                            description: How many identifiers were valid for the specified schema
                          nbInvalidIdentifiers:
                            type: integer
                            description: How many identifiers were invalid for the specified schema
                          sampleInvalidIdentifiers:
                            type: array
                            items:
                              type: string
                            description: A sample of invalid identifiers if there is some
                        description: the contactlist operation attributes
                    description: Response definition of a contactlist operation
                    x-readme-ref-name: ContactlistOperation
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Parameters to modify an audience
                x-readme-ref-name: ModifyAudienceResponse
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: '2018-12-10T10:00:50.0000000+00:00'
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '404':
          description: Audience 123 not found
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Modify Audience Users
    parameters:
    - name: audience-id
      in: path
      description: The id of the audience to amend
      required: true
      style: simple
      schema:
        type: string
        format: int32
  /2023-07/audiences/{audience-id}:
    delete:
      tags:
      - Audience
      description: Delete an audience by id
      operationId: removeAudience
      responses:
        '200':
          description: The audience was deleted
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - id
                    - type
                    type: object
                    properties:
                      id:
                        type: string
                        description: the id of the entity type
                      type:
                        type: string
                        description: the name of the entity type
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name to designate the audience by
                          description:
                            type: string
                            description: The description of the audience
                        description: Description of an audience with name and detailed description
                        x-readme-ref-name: AudienceNameDescription
                    description: Common definition of an audience
                    x-readme-ref-name: BasicAudienceDefinition
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Response of an audience deletion
                x-readme-ref-name: DeleteAudienceResponse
              example:
                data:
                  id: '1'
                  type: Audience
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Remove Audience
    patch:
      tags:
      - Audience
      description: Update user audience specified by the audience id
      operationId: modifyAudience
      requestBody:
        content:
          application/json:
            schema:
              required:
              - data
              type: object
              properties:
                data:
                  required:
                  - attributes
                  - type
                  type: object
                  properties:
                    type:
                      type: string
                      description: the name of the entity type
                      example: Audience
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name to designate the audience by
                        description:
                          type: string
                          description: The description of the audience
                      description: Description of an audience with name and detailed description
                      x-readme-ref-name: AudienceNameDescription
                  description: Parameters required to replace an audience
                  x-readme-ref-name: ReplaceAudience
              description: Request to replace an audience
              x-readme-ref-name: ReplaceAudienceRequest
        required: true
        x-bodyName: body
      responses:
        '200':
          description: The audience was updated
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - id
                    - type
                    type: object
                    properties:
                      id:
                        type: string
                        description: the id of the entity type
                      type:
                        type: string
                        description: the name of the entity type
                      attributes:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name to designate the audience by
                          description:
                            type: string
                            description: The description of the audience
                        description: Description of an audience with name and detailed description
                        x-readme-ref-name: AudienceNameDescription
                    description: Common definition of an audience
                    x-readme-ref-name: BasicAudienceDefinition
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Response of an audience replacement
                x-readme-ref-name: ReplaceAudienceResponse
              example:
                data:
                  id: '1'
                  type: AudienceContactlist
                  attributes:
                    name: example audience
                    description: example audience description
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      summary: Modify Audience
    parameters:
    - name: audience-id
      in: path
      description: The id of the audience to amend
      required: true
      style: simple
      schema:
        type: string
        format: int32
  /2023-07/marketing-solutions/me:
    get:
      tags:
      - Gateway
      description: Get information about the currently logged application
      operationId: GetCurrentApplication
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                      attributes:
                        type: object
                        properties:
                          applicationId:
                            type: integer
                            format: int32
                          name:
                            type: string
                          organizationId:
                            type: integer
                            format: int32
                          description:
                            type: string
                          criteoService:
                            type: string
                        description: Model of ApplicationSummary
                        x-readme-ref-name: ApplicationSummaryModel
                    description: A class that represents a ValueType in a guild compliant way
                    x-readme-ref-name: ApplicationSummaryModelResource
                  warnings:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                        code:
                          type: string
                          description: A machine-readable  error code, expressed as a string value.
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: string
                      description: Common problem object. Can be specialized as needed.
                      x-readme-ref-name: CommonProblem
                    readOnly: true
                  errors:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                        code:
                          type: string
                          description: A machine-readable  error code, expressed as a string value.
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                        stackTrace:
                          type: string
                      description: Common problem object. Can be specialized as needed.
                      x-readme-ref-name: CommonProblem
                    readOnly: true
                description: Response of ApplicationSummaryModel
                x-readme-ref-name: ApplicationSummaryModelResponse
        '404':
          description: Not Found
          content:
            application/json: {}
      summary: Get Current Application
  /2023-07/marketing-solutions/audiences/search:
    post:
      tags:
      - Audience
      description: Returns a list of audiences that match the provided filters. If present, the filters are AND'ed together when applied.
      operationId: searchAudiences
      parameters:
      - name: limit
        in: query
        description: The number of elements to be returned. The default is 50 and the maximum is 100.
        style: form
        schema:
          maximum: 100
          minimum: 0
          type: integer
          format: int32
          default: 50
      - name: offset
        in: query
        description: The (zero-based) offset into the collection. The default is 0.
        style: form
        schema:
          type: integer
          format: int32
          default: 0
      requestBody:
        description: Audience search filters.
        content:
          application/json-patch+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                      properties:
                        audienceIds:
                          type: array
                          items:
                            type: string
                          description: List of audience ids
                        advertiserIds:
                          type: array
[...]
