openapi: 3.0.1
info:
  title: Criteo API
  description: Criteo API - RetailMedia
  version: 2026-01
servers:
- url: https://api.criteo.com
paths:
  /2026-01/retail-media/account-management/accounts/{accountId}/brands/add:
    post:
      tags:
      - Accounts
      description: Add brands to an account
      operationId: AddBrands
      parameters:
      - name: accountId
        in: path
        description: the account id to update
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      required:
                      - brandIds
                      type: object
                      properties:
                        brandIds:
                          type: array
                          items:
                            type: integer
                            format: int64
                      additionalProperties: false
                      description: A collection of brand ids
                      nullable: true
                      x-readme-ref-name: ExternalRetailMediaBrands
                    type:
                      type: string
                      description: Type of the resource.
                      nullable: true
                  additionalProperties: false
                  description: A value resource exposed by the API.
                  nullable: true
                  x-readme-ref-name: ValueResourceOfRetailMediaBrands
              additionalProperties: false
              description: A top-level object that encapsulates a Criteo API request for a single value object.
              x-readme-ref-name: ValueResourceInputOfRetailMediaBrands
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        required:
                        - brandIds
                        type: object
                        properties:
                          brandIds:
                            type: array
                            items:
                              type: integer
                              format: int64
                        additionalProperties: false
                        description: A collection of brand ids
                        nullable: true
                        x-readme-ref-name: ExternalRetailMediaBrands
                      type:
                        type: string
                        description: Type of the resource.
                        nullable: true
                    additionalProperties: false
                    description: A value resource exposed by the API.
                    nullable: true
                    x-readme-ref-name: ValueResourceOfRetailMediaBrands
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Errors that occured during this call.
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Warnings that occured during this call.
                    nullable: true
                    readOnly: true
                additionalProperties: false
                description: A top-level object that encapsulates a Criteo API response for a single value object.
                x-readme-ref-name: ValueResourceOutcomeOfRetailMediaBrands
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: Add Brands
  /2026-01/retail-media/account-management/accounts/{accountId}/brands/remove:
    post:
      tags:
      - Accounts
      description: Remove brands from an account
      operationId: RemoveBrands
      parameters:
      - name: accountId
        in: path
        description: the account id to update
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      required:
                      - brandIds
                      type: object
                      properties:
                        brandIds:
                          type: array
                          items:
                            type: integer
                            format: int64
                      additionalProperties: false
                      description: A collection of brand ids
                      nullable: true
                      x-readme-ref-name: ExternalRetailMediaBrands
                    type:
                      type: string
                      description: Type of the resource.
                      nullable: true
                  additionalProperties: false
                  description: A value resource exposed by the API.
                  nullable: true
                  x-readme-ref-name: ValueResourceOfRetailMediaBrands
              additionalProperties: false
              description: A top-level object that encapsulates a Criteo API request for a single value object.
              x-readme-ref-name: ValueResourceInputOfRetailMediaBrands
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        required:
                        - brandIds
                        type: object
                        properties:
                          brandIds:
                            type: array
                            items:
                              type: integer
                              format: int64
                        additionalProperties: false
                        description: A collection of brand ids
                        nullable: true
                        x-readme-ref-name: ExternalRetailMediaBrands
                      type:
                        type: string
                        description: Type of the resource.
                        nullable: true
                    additionalProperties: false
                    description: A value resource exposed by the API.
                    nullable: true
                    x-readme-ref-name: ValueResourceOfRetailMediaBrands
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Errors that occured during this call.
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Warnings that occured during this call.
                    nullable: true
                    readOnly: true
                additionalProperties: false
                description: A top-level object that encapsulates a Criteo API response for a single value object.
                x-readme-ref-name: ValueResourceOutcomeOfRetailMediaBrands
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: Remove Brands
  /2026-01/retail-media/account-management/accounts/{accountId}/create-brand-account:
    post:
      tags:
      - Accounts
      description: Creates a new child Demand Brand account for the provided parent Private Market account
      operationId: CreatePrivateMarketDemandBrandAccount
      parameters:
      - name: accountId
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        brands:
                          type: array
                          items:
                            type: integer
                            format: int64
                          description: list of brands to link to the new account
                          nullable: true
                        companyName:
                          type: string
                          description: Display name for reporting the owning entity of ads for the Digital Services Act in the European Union
                          nullable: true
                        name:
                          type: string
                          description: the name of the account, must be unique across all accounts
                          nullable: true
                        onBehalfCompanyName:
                          type: string
                          description: On behalf entity name of ads for the Digital Services Act
                          nullable: true
                      additionalProperties: false
                      description: the initial set up and configuration options for a new private market demand brand account
                      x-readme-ref-name: ExternalRetailMediaBrandAccountCreation
                    type:
                      type: string
                      description: Type of the resource.
                      nullable: true
                  additionalProperties: false
                  description: A value resource exposed by the API.
                  x-readme-ref-name: ValueResourceOfRetailMediaBrandAccountCreation
              additionalProperties: false
              description: A top-level object that encapsulates a Criteo API request for a single value object.
              x-readme-ref-name: ValueResourceInputOfRetailMediaBrandAccountCreation
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          companyName:
                            type: string
                            description: Paying entity name of ads for the Digital Services Act
                            nullable: true
                          countryIds:
                            type: array
                            items:
                              type: string
                            description: list of countries associated with the account
                            nullable: true
                          currencyId:
                            type: string
                            description: the currency for the account
                            nullable: true
                          name:
                            type: string
                            description: account name
                            nullable: true
                          onBehalfCompanyName:
                            type: string
                            description: On behalf entity name of ads for the Digital Services Act
                            nullable: true
                          parentAccountLabel:
                            type: string
                            description: parent account label for the account
                            nullable: true
                          subType:
                            enum:
                            - Unknown
                            - Brand
                            - Seller
                            type: string
                            description: subtype for the account
                            nullable: true
                          timeZone:
                            type: string
                            description: the timezone for the account
                            nullable: true
                          type:
                            enum:
                            - Unknown
                            - Supply
                            - Demand
                            type: string
                            description: Type for the account
                            nullable: true
                        additionalProperties: false
                        description: The details for a newly created account
                        nullable: true
                        x-readme-ref-name: ExternalRetailMediaAccount
                      id:
                        type: string
                        description: Unique id of the entity.
                        nullable: true
                      type:
                        type: string
                        description: Type of the resource.
                        nullable: true
                    additionalProperties: false
                    description: A domain entity exposed by the API, identified by a unique id.
                    nullable: true
                    x-readme-ref-name: EntityResourceOfRetailMediaAccount
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Errors that occured during this call.
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Warnings that occured during this call.
                    nullable: true
                    readOnly: true
                additionalProperties: false
                description: A top-level object that encapsulates a Criteo API response for a single entity.
                x-readme-ref-name: EntityResourceOutcomeOfRetailMediaAccount
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: Create Private Market Demand Brand Account
  /2026-01/retail-media/account-management/accounts/{accountId}/create-seller-account:
    post:
      tags:
      - Accounts
      description: Creates a new child Demand Seller account for the provided parent Private Market account
      operationId: CreatePrivateMarketDemandSellerAccount
      parameters:
      - name: accountId
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      required:
                      - sellers
                      type: object
                      properties:
                        companyName:
                          type: string
                          description: Display name for reporting the owning entity of ads for the Digital Services Act in the European Union
                          nullable: true
                        name:
                          type: string
                          description: the name of the account, must be unique across all accounts
                          nullable: true
                        onBehalfCompanyName:
                          type: string
                          description: On behalf entity name of ads for the Digital Services Act
                          nullable: true
                        sellers:
                          type: array
                          items:
                            required:
                            - retailerId
                            - sellerId
                            type: object
                            properties:
                              retailerId:
                                type: integer
                                description: the retailer id
                                format: int32
                              sellerId:
                                type: string
                                description: the seller id
                            additionalProperties: false
                            description: used to define the exact seller linked with an account
                            nullable: true
                            x-readme-ref-name: ExternalRetailMediaSeller
                          description: list of sellers to associate to the new account
                      additionalProperties: false
                      description: the initial set up and configuration options for a new private market demand brand account
                      x-readme-ref-name: ExternalRetailMediaSellerAccountCreation
                    type:
                      type: string
                      description: Type of the resource.
                      nullable: true
                  additionalProperties: false
                  description: A value resource exposed by the API.
                  x-readme-ref-name: ValueResourceOfRetailMediaSellerAccountCreation
              additionalProperties: false
              description: A top-level object that encapsulates a Criteo API request for a single value object.
              x-readme-ref-name: ValueResourceInputOfRetailMediaSellerAccountCreation
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          companyName:
                            type: string
                            description: Paying entity name of ads for the Digital Services Act
                            nullable: true
                          countryIds:
                            type: array
                            items:
                              type: string
                            description: list of countries associated with the account
                            nullable: true
                          currencyId:
                            type: string
                            description: the currency for the account
                            nullable: true
                          name:
                            type: string
                            description: account name
                            nullable: true
                          onBehalfCompanyName:
                            type: string
                            description: On behalf entity name of ads for the Digital Services Act
                            nullable: true
                          parentAccountLabel:
                            type: string
                            description: parent account label for the account
                            nullable: true
                          subType:
                            enum:
                            - Unknown
                            - Brand
                            - Seller
                            type: string
                            description: subtype for the account
                            nullable: true
                          timeZone:
                            type: string
                            description: the timezone for the account
                            nullable: true
                          type:
                            enum:
                            - Unknown
                            - Supply
                            - Demand
                            type: string
                            description: Type for the account
                            nullable: true
                        additionalProperties: false
                        description: The details for a newly created account
                        nullable: true
                        x-readme-ref-name: ExternalRetailMediaAccount
                      id:
                        type: string
                        description: Unique id of the entity.
                        nullable: true
                      type:
                        type: string
                        description: Type of the resource.
                        nullable: true
                    additionalProperties: false
                    description: A domain entity exposed by the API, identified by a unique id.
                    nullable: true
                    x-readme-ref-name: EntityResourceOfRetailMediaAccount
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Errors that occured during this call.
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Warnings that occured during this call.
                    nullable: true
                    readOnly: true
                additionalProperties: false
                description: A top-level object that encapsulates a Criteo API response for a single entity.
                x-readme-ref-name: EntityResourceOutcomeOfRetailMediaAccount
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: Create Private Market Demand Seller Account
  /2026-01/retail-media/account-management/accounts/{accountId}/private-market-child-accounts:
    get:
      tags:
      - Accounts
      description: Gets Private Market child accounts that are associated with the given account
      operationId: GetPrivateMarketChildAccountsByAccountId
      parameters:
      - name: accountId
        in: path
        description: Account Id
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of accounts to be returned. The default is 25.
        schema:
          type: integer
          format: int32
          default: 25
      - name: offset
        in: query
        description: The (zero-based) offset into the collection of accounts. The default is 0.
        schema:
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            companyName:
                              type: string
                              description: Paying entity name of ads for the Digital Services Act
                              nullable: true
                            countryIds:
                              type: array
                              items:
                                type: string
                              description: list of countries associated with the account
                              nullable: true
                            currencyId:
                              type: string
                              description: the currency for the account
                              nullable: true
                            name:
                              type: string
                              description: account name
                              nullable: true
                            onBehalfCompanyName:
                              type: string
                              description: On behalf entity name of ads for the Digital Services Act
                              nullable: true
                            subType:
                              enum:
                              - Unknown
                              - Brand
                              - Seller
                              type: string
                              description: subtype for the account
                              nullable: true
                            timeZone:
                              type: string
                              description: the timezone for the account
                              nullable: true
                            type:
                              enum:
                              - Unknown
                              - Supply
                              - Demand
                              type: string
                              description: Type for the account
                              nullable: true
                          additionalProperties: false
                          description: The details for a newly created account
                          nullable: true
                          x-readme-ref-name: ExternalRetailMediaChildAccount
                        id:
                          type: string
                          description: Unique id of the entity.
                          nullable: true
                        type:
                          type: string
                          description: Type of the resource.
                          nullable: true
                      additionalProperties: false
                      description: A domain entity exposed by the API, identified by a unique id.
                      x-readme-ref-name: EntityResourceOfRetailMediaChildAccount
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Errors that occured during this call.
                    nullable: true
                    readOnly: true
                  metadata:
                    required:
                    - limit
                    - offset
                    type: object
                    properties:
                      count:
                        type: integer
                        format: int64
                        nullable: true
                      limit:
                        type: integer
                        description: The number of elements to be returned.
                        format: int32
                      offset:
                        type: integer
                        description: The (zero-based) starting offset in the collection.
                        format: int32
                    additionalProperties: false
                    description: Metadata related to the current request.
                    nullable: true
                    x-readme-ref-name: Metadata
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Warnings that occured during this call.
                    nullable: true
                    readOnly: true
                additionalProperties: false
                description: A top-level object that encapsulates a Criteo API response for several entities and metadata.
                x-readme-ref-name: EntityResourceCollectionOutcomeOfRetailMediaChildAccountAndMetadata
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: Get Private Market Child Accounts By Account ID
  /2026-01/retail-media/account-management/accounts/{accountId}/sellers:
    put:
      tags:
      - Accounts
      description: Replace the sellers associated with an account
      operationId: UpdateSellers
      parameters:
      - name: accountId
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      attributes:
                        required:
                        - retailerId
                        - sellerId
                        type: object
                        properties:
                          retailerId:
                            type: integer
                            description: the retailer id
                            format: int32
                          sellerId:
                            type: string
                            description: the seller id
                        additionalProperties: false
                        description: used to define the exact seller linked with an account
                        nullable: true
                        x-readme-ref-name: ExternalRetailMediaSeller
                      type:
                        type: string
                        description: Type of the resource.
                        nullable: true
                    additionalProperties: false
                    description: A value resource exposed by the API.
                    x-readme-ref-name: ValueResourceOfRetailMediaSeller
                  nullable: true
              additionalProperties: false
              description: A top-level object that encapsulates a Criteo API request for several value objects.
              x-readme-ref-name: ValueResourceCollectionInputOfRetailMediaSeller
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          required:
                          - retailerId
                          - sellerId
                          type: object
                          properties:
                            retailerId:
                              type: integer
                              description: the retailer id
                              format: int32
                            sellerId:
                              type: string
                              description: the seller id
                          additionalProperties: false
                          description: used to define the exact seller linked with an account
                          nullable: true
                          x-readme-ref-name: ExternalRetailMediaSeller
                        type:
                          type: string
                          description: Type of the resource.
                          nullable: true
                      additionalProperties: false
                      description: A value resource exposed by the API.
                      x-readme-ref-name: ValueResourceOfRetailMediaSeller
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Errors that occured during this call.
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        stackTrace:
                          type: string
                          description: ''
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      additionalProperties: false
                      description: Common problem object.
                      x-readme-ref-name: SdkApiRestCommonProblem
                    description: Warnings that occured during this call.
                    nullable: true
                    readOnly: true
                additionalProperties: false
                description: A top-level object that encapsulates a Criteo API response for several value objects.
                x-readme-ref-name: ValueResourceCollectionOutcomeOfRetailMediaSeller
      security:
      - oauth:
        - RetailMedia_Accounts_Manage
      summary: Update Sellers
  /2026-01/retail-media/accounts:
    get:
      tags:
      - Accounts
      description: Gets page of account objects that the current user can access
      operationId: GetAccounts
      parameters:
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                required:
                - data
                - metadata
                type: object
                properties:
                  data:
                    type: array
                    items:
                      required:
                      - id
                      - type
                      type: object
                      properties:
                        attributes:
                          required:
                          - countries
                          - currency
                          - name
                          - parentAccountLabel
                          - timeZone
                          - type
                          type: object
                          properties:
                            companyName:
                              type: string
                              nullable: true
                            countries:
                              type: array
                              items:
                                type: string
                            currency:
                              type: string
                            name:
                              maxLength: 510
                              minLength: 0
                              type: string
                            onBehalfCompanyName:
                              type: string
                              nullable: true
                            parentAccountLabel:
                              maxLength: 510
                              minLength: 0
                              type: string
                            subtype:
                              enum:
                              - unknown
                              - brand
                              - seller
                              type: string
                              nullable: true
                            timeZone:
                              type: string
                            type:
                              enum:
                              - unknown
                              - supply
                              - demand
                              type: string
                          additionalProperties: false
                          description: A Retail Media Account used to launch campaigns and line items
                          nullable: true
                          x-readme-ref-name: ExternalAccount
                        id:
                          type: string
                          format: long-id
                        type:
                          type: string
                      additionalProperties: false
                      description: "A JSON:API wrapper class to format a <typeparamref name=\"TAttributes\" /> with external Id, Type, and\r\nAttributes properties"
                      x-readme-ref-name: JsonApiBodyWithIdOfInt64AndAccountAndAccount
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                          nullable: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error.
                          nullable: true
                      additionalProperties: false
                      description: A JSON:API Common error structure
                      x-readme-ref-name: CommonError
                    nullable: true
                  metadata:
                    required:
                    - currentPageIndex
                    - currentPageSize
                    type: object
                    properties:
                      currentPageIndex:
                        type: integer
                        format: int32
                      currentPageSize:
                        type: integer
                        format: int32
                      nextPage:
                        type: string
                        nullable: true
                      previousPage:
                        type: string
                        nullable: true
                      totalItemsAcrossAllPages:
                        type: integer
                        format: int64
                        nullable: true
                      totalPages:
                        type: integer
                        format: int64
                        nullable: true
                    additionalProperties: false
                    description: Metadata related to the current request
                    x-readme-ref-name: PageMetadata
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                          nullable: true
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error.
                          nullable: true
                      additionalProperties: false
                      description: A JSON:API Base common warning
                      x-readme-ref-name: CommonWarning
                    nullable: true
                additionalProperties: false
                description: A wrapper class to return a single page of <typeparamref name="T" /> with metadata
                x-readme-ref-name: JsonApiPageResponseOfAccount
      security:
      - oauth:
        - RetailMedia_Accounts_Read
      summary: Get Accounts
  /2026-01/retail-media/accounts/{account-id}/audience-segments:
    patch:
      tags:
      - Audience
      description: Updates the properties of all segments with a valid configuration, and returns the full segments. For those that cannot be updated, one or multiple errors are returned.
      operationId: bulkUpdateAudienceSegments
      parameters:
      - name: account-id
        in: path
        description: Account id
        required: true
        schema:
          type: string
      requestBody:
        description: Segment Update request
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          contactList:
                            type: object
                            description: Settings to update the contact list of the segment
                            x-readme-ref-name: RmContactListUpdateV1
                          description:
                            type: object
                            properties:
                              value:
                                type: string
                                description: The string's value. If missing or null the string's value is set to "null"
                                nullable: true
                            description: Placeholder object for string value  for which "null" is a valid business value
                            nullable: true
                            x-readme-ref-name: NillableString
                          events:
                            type: object
                            properties:
                              brandIds:
                                type: array
                                items:
                                  type: string
                                description: Choose the brands your segment might be interested in
                              categoryIds:
                                type: array
                                items:
                                  type: string
                                description: Choose the categories your segment might be interested in
                              lookbackDays:
                                enum:
                                - Last7Days
                                - Last14Days
                                - Last30Days
                                - Last45Days
                                - Last60Days
                                - Last90Days
                                - Last120Days
                                - Last150Days
                                - Last180Days
                                type: string
                                description: Number of days of the lookback windows
                              maxPrice:
                                type: object
                                properties:
                                  value:
                                    type: number
                                    description: The value. If missing or null the value is set to "null"
                                    format: double
                                    nullable: true
                                description: Placeholder object for value for which "null" is a valid business value
                                nullable: true
                                x-readme-ref-name: NillableDecimal
                              minPrice:
                                type: object
                                properties:
                                  value:
                                    type: number
                                    description: The value. If missing or null the value is set to "null"
                                    format: double
                                    nullable: true
                                description: Placeholder object for value for which "null" is a valid business value
                                nullable: true
                                x-readme-ref-name: NillableDecimal
                              shopperActivity:
                                enum:
                                - View
                                - Buy
                                - AddToCart
                                type: string
                                description: Types of shopper activity.
                            description: Settings to target users based on their behavior
                            x-readme-ref-name: RmEventsUpdateV1
                          name:
                            type: string
                            description: Name of the segment
                        description: Set of rules that defines specific people to target.
                        x-criteo-canonical:
                          infoType: entity
                          name: RetailMediaAudienceSegment
                          version: v1
                        x-readme-ref-name: RmAudienceSegmentUpdateEntityV1
                      id:
                        type: string
                        description: Id of the entity
                      type:
                        type: string
                    description: A class that represents a domain entity exposed by an API
                    x-readme-ref-name: RmAudienceSegmentUpdateEntityV1Resource
              description: A top-level object that encapsulates a Criteo API request for several entities.
              x-readme-ref-name: RmAudienceSegmentBulkUpdateInputV1
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success or partial success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            accountId:
                              type: string
                              description: Account associated to the segment
                              nullable: true
                            channels:
                              type: array
                              items:
                                enum:
                                - Unknown
                                - Onsite
                                - Offsite
                                type: string
                              description: Channels associated to the segment (read-only)
                              nullable: true
                            contactList:
                              type: object
                              properties:
                                identifierType:
                                  enum:
                                  - Unknown
                                  - Email
                                  - UserIdentifier
                                  - IdentityLink
                                  - CustomerId
                                  - PhoneNumber
                                  type: string
                                  description: Indicates contact list identifier's type
                                  nullable: true
                                isReadOnly:
                                  type: boolean
                                  description: Is the segment read-only
                                  nullable: true
                                sharingStatus:
                                  enum:
                                  - Unknown
                                  - NotShared
                                  - SharedWithAll
                                  - SharedWithDemandAccounts
                                  type: string
                                  description: Indicates if the contact list is shared with other accounts
                                  nullable: true
                              description: Settings to target users with your contact lists.
                              nullable: true
                              x-readme-ref-name: RmContactListV1
                            createdAt:
                              type: string
                              description: ISO-8601 timestamp in UTC of segment creation (read-only)
                              format: date-time
                              nullable: true
                            createdById:
                              type: string
                              description: User that created the segment
                              nullable: true
                            description:
                              type: string
                              description: Description of the segment
                              nullable: true
                            events:
                              type: object
                              properties:
                                brandIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of brand ids
                                  nullable: true
                                categoryIds:
                                  type: array
                                  items:
                                    type: string
                                  description: The list of category ids
                                  nullable: true
                                lookbackDays:
                                  enum:
                                  - Unknown
                                  - Last7Days
                                  - Last14Days
                                  - Last30Days
                                  - Last45Days
                                  - Last60Days
                                  - Last90Days
                                  - Last120Days
                                  - Last150Days
                                  - Last180Days
                                  type: string
                                  description: The number of days to look back
                                  nullable: true
                                maxPrice:
                                  type: number
                                  description: Maximum price of the products
                                  format: double
                                  nullable: true
                                minPrice:
                                  type: number
                                  description: Minimum price of the products
                                  format: double
                                  nullable: true
                                shopperActivity:
                                  enum:
                                  - Unknown
                                  - View
                                  - Buy
                                  - AddToCart
                                  type: string
                                  description: Reach people who performed specific action
                                  nullable: true
                              description: Settings to target users based on their behavior
                              nullable: true
                              x-readme-ref-name: RmEventsV1
                            name:
                              type: string
                              description: Name of the segment
                              nullable: true
                            retailerId:
                              type: string
                              description: Retailer  associated to the segment
                              nullable: true
                            type:
                              enum:
                              - Unknown
                              - ContactList
                              - Events
                              type: string
                              description: Type of segment (read-only)
                              nullable: true
                            updatedAt:
                              type: string
                              description: ISO-8601 timestamp in UTC of segment update (read-only)
                              format: date-time
                              nullable: true
                          description: Set of rules that defines specific people to target.
                          nullable: true
                          x-criteo-canonical:
                            infoType: entity
                            name: RetailMediaAudienceSegment
                            version: v1
                          x-readme-ref-name: RmAudienceSegmentEntityV1
                        id:
                          type: string
                          description: Id of the entity
                          nullable: true
                        type:
                          type: string
                          nullable: true
                      description: A class that represents a domain entity exposed by an API
                      x-readme-ref-name: RmAudienceSegmentEntityV1Resource
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for several entities
                x-readme-ref-name: RmAudienceSegmentEntityV1ListResponse
      security:
      - oauth:
        - RetailMedia_Audience_Manage
      summary: Bulk Update Audience Segments
  /2026-01/retail-media/accounts/{account-id}/audience-segments/{audience-segment-id}/contact-list:
    get:
      tags:
      - Audience
      description: Returns the statistics of a contact list segment.
      operationId: getAudienceSegmentContactListStatistics
      parameters:
      - name: account-id
        in: path
        description: Account Id
        required: true
        schema:
          type: string
      - name: audience-segment-id
        in: path
        description: Segment Id.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success or partial success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          matchRate:
                            type: number
                            description: "Percentage of matched identifiers in the contact list.\r\nCan differ from matches/identifiers depending on the contact list type."
                            format: double
                            nullable: true
                          numberOfIdentifiers:
                            type: integer
                            description: Number of identifiers in the contact list.
                            format: int32
                            nullable: true
                          numberOfMatches:
                            type: integer
                            description: Number of matched identifiers in the contact list.
                            format: int32
                            nullable: true
                        description: Contact list statistics.
                        nullable: true
                        x-criteo-canonical:
                          infoType: entity
                          name: ContactListStatistics
                          version: v1
                        x-readme-ref-name: RmContactListStatisticsEntityV1
                      id:
                        type: string
                        description: Id of the entity
                        nullable: true
                      type:
                        type: string
                        nullable: true
                    description: A class that represents a domain entity exposed by an API
                    nullable: true
                    x-readme-ref-name: RmContactListStatisticsEntityV1Resource
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single entity
                x-readme-ref-name: RmContactListStatisticsEntityV1Response
      security:
      - oauth:
        - RetailMedia_Audience_Read
      summary: Get Audience Segment Contact List Statistics
  /2026-01/retail-media/accounts/{account-id}/audience-segments/create:
    post:
      tags:
      - Audience
      description: Creates all segments with a valid configuration, and returns the full segments. For those that cannot be created, one or multiple errors are returned.
      operationId: bulkCreateAudienceSegments
      parameters:
      - name: account-id
        in: path
        description: Account Id
        required: true
        schema:
          type: string
      requestBody:
        description: Segment creation parameter
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      attributes:
                        required:
                        - name
                        - retailerId
                        type: object
                        properties:
                          contactList:
                            type: object
                            properties:
                              identifierType:
                                enum:
                                - Email
                                - UserIdentifier
                                - IdentityLink
                                - CustomerId
                                - PhoneNumber
                                type: string
[...]
