openapi: 3.0.1
info:
  title: Criteo API
  description: Criteo API - MarketingSolutions
  version: 2025-07
servers:
- url: https://api.criteo.com
paths:
  /2025-07/advertisers/me:
    get:
      tags:
      - Advertiser
      description: Fetch the portfolio of Advertisers for this account
      operationId: ApiPortfolioGet
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            advertiserName:
                              type: string
                              nullable: true
                          description: Class with elementary info about advertiser
                          nullable: true
                          x-readme-ref-name: PortfolioMessage
                        id:
                          type: string
                          description: A opaque string containing the unique Id of the entity
                          nullable: true
                        meta:
                          type: object
                          description: A meta object that contains application-specific metadata
                          nullable: true
                        type:
                          enum:
                          - campaign
                          - adset
                          - ad
                          - advertiser
                          - agency
                          - publisher
                          - address
                          - client
                          - contact
                          - industry
                          type: string
                          description: A string containing the entity type
                          nullable: true
                          example: campaign
                      description: Generic Criteo API successful data model
                      x-readme-ref-name: EntityOfPortfolioMessage
                    description: The response�s primary data
                    nullable: true
                  errors:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response error
                      x-readme-ref-name: CriteoApiError
                    description: "Error list returned by the Criteo API\r\nFor successful requests it is empty"
                    nullable: true
                  warnings:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response warning
                      x-readme-ref-name: CriteoApiWarning
                    description: "Warnings list returned by the Criteo API\r\nIn some situations the operations are successful but it may be useful to issue warnings to the API consumer.\r\nFor example the endpoint, entity or field is deprecated. Warnings are like compiler warnings, they indicate that problems may occur in the future."
                    nullable: true
                description: Portfolio fetch Response
                x-readme-ref-name: GetPortfolioResponse
              example:
                data:
                - type: advertiser
                  id: '13'
                  attributes:
                    advertiserName: ClientName1
                - type: advertiser
                  id: '1352'
                  attributes:
                    advertiserName: ClientName2
                - type: advertiser
                  id: '73550'
                  attributes:
                    advertiserName: ClientName3
                errors: []
                warnings: []
            text/plain:
              schema:
                type: object
                properties:
                  data:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            advertiserName:
                              type: string
                              nullable: true
                          description: Class with elementary info about advertiser
                          nullable: true
                          x-readme-ref-name: PortfolioMessage
                        id:
                          type: string
                          description: A opaque string containing the unique Id of the entity
                          nullable: true
                        meta:
                          type: object
                          description: A meta object that contains application-specific metadata
                          nullable: true
                        type:
                          enum:
                          - campaign
                          - adset
                          - ad
                          - advertiser
                          - agency
                          - publisher
                          - address
                          - client
                          - contact
                          - industry
                          type: string
                          description: A string containing the entity type
                          nullable: true
                          example: campaign
                      description: Generic Criteo API successful data model
                      x-readme-ref-name: EntityOfPortfolioMessage
                    description: The response�s primary data
                    nullable: true
                  errors:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response error
                      x-readme-ref-name: CriteoApiError
                    description: "Error list returned by the Criteo API\r\nFor successful requests it is empty"
                    nullable: true
                  warnings:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response warning
                      x-readme-ref-name: CriteoApiWarning
                    description: "Warnings list returned by the Criteo API\r\nIn some situations the operations are successful but it may be useful to issue warnings to the API consumer.\r\nFor example the endpoint, entity or field is deprecated. Warnings are like compiler warnings, they indicate that problems may occur in the future."
                    nullable: true
                description: Portfolio fetch Response
                x-readme-ref-name: GetPortfolioResponse
            text/json:
              schema:
                type: object
                properties:
                  data:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            advertiserName:
                              type: string
                              nullable: true
                          description: Class with elementary info about advertiser
                          nullable: true
                          x-readme-ref-name: PortfolioMessage
                        id:
                          type: string
                          description: A opaque string containing the unique Id of the entity
                          nullable: true
                        meta:
                          type: object
                          description: A meta object that contains application-specific metadata
                          nullable: true
                        type:
                          enum:
                          - campaign
                          - adset
                          - ad
                          - advertiser
                          - agency
                          - publisher
                          - address
                          - client
                          - contact
                          - industry
                          type: string
                          description: A string containing the entity type
                          nullable: true
                          example: campaign
                      description: Generic Criteo API successful data model
                      x-readme-ref-name: EntityOfPortfolioMessage
                    description: The response�s primary data
                    nullable: true
                  errors:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response error
                      x-readme-ref-name: CriteoApiError
                    description: "Error list returned by the Criteo API\r\nFor successful requests it is empty"
                    nullable: true
                  warnings:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response warning
                      x-readme-ref-name: CriteoApiWarning
                    description: "Warnings list returned by the Criteo API\r\nIn some situations the operations are successful but it may be useful to issue warnings to the API consumer.\r\nFor example the endpoint, entity or field is deprecated. Warnings are like compiler warnings, they indicate that problems may occur in the future."
                    nullable: true
                description: Portfolio fetch Response
                x-readme-ref-name: GetPortfolioResponse
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                type: object
                properties:
                  data:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            advertiserName:
                              type: string
                              nullable: true
                          description: Class with elementary info about advertiser
                          nullable: true
                          x-readme-ref-name: PortfolioMessage
                        id:
                          type: string
                          description: A opaque string containing the unique Id of the entity
                          nullable: true
                        meta:
                          type: object
                          description: A meta object that contains application-specific metadata
                          nullable: true
                        type:
                          enum:
                          - campaign
                          - adset
                          - ad
                          - advertiser
                          - agency
                          - publisher
                          - address
                          - client
                          - contact
                          - industry
                          type: string
                          description: A string containing the entity type
                          nullable: true
                          example: campaign
                      description: Generic Criteo API successful data model
                      x-readme-ref-name: EntityOfPortfolioMessage
                    description: The response�s primary data
                    nullable: true
                  errors:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response error
                      x-readme-ref-name: CriteoApiError
                    description: "Error list returned by the Criteo API\r\nFor successful requests it is empty"
                    nullable: true
                  warnings:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response warning
                      x-readme-ref-name: CriteoApiWarning
                    description: "Warnings list returned by the Criteo API\r\nIn some situations the operations are successful but it may be useful to issue warnings to the API consumer.\r\nFor example the endpoint, entity or field is deprecated. Warnings are like compiler warnings, they indicate that problems may occur in the future."
                    nullable: true
                description: Portfolio fetch Response
                x-readme-ref-name: GetPortfolioResponse
            application/json:
              schema:
                type: object
                properties:
                  data:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            advertiserName:
                              type: string
                              nullable: true
                          description: Class with elementary info about advertiser
                          nullable: true
                          x-readme-ref-name: PortfolioMessage
                        id:
                          type: string
                          description: A opaque string containing the unique Id of the entity
                          nullable: true
                        meta:
                          type: object
                          description: A meta object that contains application-specific metadata
                          nullable: true
                        type:
                          enum:
                          - campaign
                          - adset
                          - ad
                          - advertiser
                          - agency
                          - publisher
                          - address
                          - client
                          - contact
                          - industry
                          type: string
                          description: A string containing the entity type
                          nullable: true
                          example: campaign
                      description: Generic Criteo API successful data model
                      x-readme-ref-name: EntityOfPortfolioMessage
                    description: The response�s primary data
                    nullable: true
                  errors:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response error
                      x-readme-ref-name: CriteoApiError
                    description: "Error list returned by the Criteo API\r\nFor successful requests it is empty"
                    nullable: true
                  warnings:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response warning
                      x-readme-ref-name: CriteoApiWarning
                    description: "Warnings list returned by the Criteo API\r\nIn some situations the operations are successful but it may be useful to issue warnings to the API consumer.\r\nFor example the endpoint, entity or field is deprecated. Warnings are like compiler warnings, they indicate that problems may occur in the future."
                    nullable: true
                description: Portfolio fetch Response
                x-readme-ref-name: GetPortfolioResponse
            text/json:
              schema:
                type: object
                properties:
                  data:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            advertiserName:
                              type: string
                              nullable: true
                          description: Class with elementary info about advertiser
                          nullable: true
                          x-readme-ref-name: PortfolioMessage
                        id:
                          type: string
                          description: A opaque string containing the unique Id of the entity
                          nullable: true
                        meta:
                          type: object
                          description: A meta object that contains application-specific metadata
                          nullable: true
                        type:
                          enum:
                          - campaign
                          - adset
                          - ad
                          - advertiser
                          - agency
                          - publisher
                          - address
                          - client
                          - contact
                          - industry
                          type: string
                          description: A string containing the entity type
                          nullable: true
                          example: campaign
                      description: Generic Criteo API successful data model
                      x-readme-ref-name: EntityOfPortfolioMessage
                    description: The response�s primary data
                    nullable: true
                  errors:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s).
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response error
                      x-readme-ref-name: CriteoApiError
                    description: "Error list returned by the Criteo API\r\nFor successful requests it is empty"
                    nullable: true
                  warnings:
                    uniqueItems: false
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          enum:
                          - internal-error
                          - deprecated-field
                          - endpoint-deprecated
                          - required-field
                          - invalid-date-format
                          - invalid
                          - invalid-ranged
                          - invalid-timespan
                          type: string
                          description: A machine-readable error code string in kabab-case. Unique across Criteo
                          nullable: true
                          example: internal-error
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem.
                          nullable: true
                        instance:
                          type: string
                          description: A URI reference that identifies the specific occurrence of the problem
                          nullable: true
                        title:
                          type: string
                          description: A short, human-readable remarks of the problem type.
                          nullable: true
                        traceId:
                          type: string
                          description: The correlation ID provided by the gateway
                          nullable: true
                        type:
                          enum:
                          - access_control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: A machine-readable code specifying error category
                          nullable: true
                          example: access_control
                      description: Criteo API response warning
                      x-readme-ref-name: CriteoApiWarning
                    description: "Warnings list returned by the Criteo API\r\nIn some situations the operations are successful but it may be useful to issue warnings to the API consumer.\r\nFor example the endpoint, entity or field is deprecated. Warnings are like compiler warnings, they indicate that problems may occur in the future."
                    nullable: true
                description: Portfolio fetch Response
                x-readme-ref-name: GetPortfolioResponse
      security:
      - oauth: []
      summary: Portfolio Get
  /2025-07/audiences/{audience-segment-id}/contactlist:
    delete:
      tags:
      - Audience
      description: Delete all identifiers from a contact list audience-segment.
      responses:
        '200':
          description: The Contact List was emptied
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - id
                    - type
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          description:
                            type: string
                            description: The description of the audience
                            nullable: true
                          name:
                            type: string
                            description: The name to designate the audience by
                            nullable: true
                        description: Description of an audience with name and detailed description
                        nullable: true
                        x-readme-ref-name: AudienceNameDescription
                      id:
                        type: string
                        description: the id of the entity type
                      type:
                        type: string
                        description: the name of the entity type
                    description: Common definition of an audience
                    x-readme-ref-name: BasicAudienceDefinition
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Response of a contactlist deletion
                x-readme-ref-name: DeleteAudienceContactListResponse
              example:
                data:
                  id: '1'
                  type: AudienceContactlist
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                    nullable: true
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: Delete All Identifiers From A Contact List Audience Segment
    patch:
      tags:
      - Audience
      description: Add/remove identifiers to or from a contact list audience-segment.
      requestBody:
        content:
          application/json:
            schema:
              required:
              - data
              type: object
              properties:
                data:
                  required:
                  - attributes
                  - type
                  type: object
                  properties:
                    attributes:
                      required:
                      - identifiers
                      - operation
                      type: object
                      properties:
                        gumCallerId:
                          type: integer
                          description: The Gum caller id of the advertiser patching identifiers of type Gum
                        identifiers:
                          type: array
                          items:
                            type: string
                          description: The users to add or remove, each in the schema specified
                        identifierType:
                          enum:
                          - email
                          - madid
                          - identityLink
                          - gum
                          - phoneNumber
                          type: string
                          description: What type of identifiers are used
                        operation:
                          enum:
                          - add
                          - remove
                          type: string
                          description: Operation to add or remove users
                      description: the name of the entity type
                    type:
                      type: string
                      description: User List
                      example: ContactlistAmendment
                  description: Parameters for the amendment of a contactlist
                  x-readme-ref-name: ContactlistAmendment
              description: Request for a contactlist amendment
              x-readme-ref-name: ContactlistAmendmentRequest
        required: true
        x-bodyName: body
      responses:
        '200':
          description: Summary of created request
          content:
            application/json:
              schema:
                required:
                - data
                - errors
                - warnings
                type: object
                properties:
                  data:
                    required:
                    - attributes
                    - type
                    type: object
                    properties:
                      attributes:
                        required:
                        - operation
                        type: object
                        properties:
                          contactListId:
                            type: integer
                            description: the affected user list id
                            nullable: true
                          identifierType:
                            type: string
                            description: The schema specified for of the identifiers
                            nullable: true
                          nbInvalidIdentifiers:
                            type: integer
                            description: How many identifiers were invalid for the specified schema
                            nullable: true
                          nbValidIdentifiers:
                            type: integer
                            description: How many identifiers were valid for the specified schema
                            nullable: true
                          operation:
                            type: string
                            description: The action recorded
                          requestDate:
                            type: string
                            description: When the action was recorded
                            format: date-time
                            nullable: true
                          sampleInvalidIdentifiers:
                            type: array
                            items:
                              type: string
                            description: A sample of invalid identifiers if there is some
                            nullable: true
                        description: the contactlist operation attributes
                      type:
                        type: string
                        description: the name of the entity type
                    description: Response definition of a contactlist operation
                    x-readme-ref-name: ContactlistOperation
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                description: Parameters to modify an audience
                x-readme-ref-name: ModifyAudienceResponse
              example:
                data:
                  type: ContactlistAmendment
                  attributes:
                    contactListId: 12
                    operation: add
                    requestDate: '2018-12-10T10:00:50.0000000+00:00'
                    identifierType: madid
                    nbValidIdentifiers: 7343
                    nbInvalidIdentifiers: 13
                    sampleInvalidIdentifiers:
                    - InvalidIdentifier
                errors: []
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                    nullable: true
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
        '404':
          description: Audience 123 not found
          content:
            application/json:
              schema:
                required:
                - errors
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      required:
                      - code
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (RECOMMENDED) A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of an audience error
                      x-readme-ref-name: AudienceError
                  warnings:
                    type: array
                    items:
                      required:
                      - code
                      - detail
                      - instance
                      - type
                      type: object
                      properties:
                        code:
                          type: string
                          description: (REQUIRED) A machine-readable unique error code, expressed as a string value. The format used must be kebab-case.
                        detail:
                          type: string
                          description: (REQUIRED) A human-readable explanation specific to this occurrence of the problem
                        instance:
                          type: string
                          description: (REQUIRED) A URI reference that identifies the specific occurrence of the problem
                        source:
                          type: object
                          description: (OPTIONAL) A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: array
                          items:
                            type: string
                          description: (NEVER IN PRODUCTION) A human-readable stacktrace produced by the implementation technology
                          nullable: true
                        title:
                          type: string
                          description: (RECOMMENDED) A short, human-readable summary of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: (REQUIRED) The Correlation ID provided by the Gateway. It is also a unique identifier for this particular occurrence of the problem.
                          nullable: true
                        type:
                          enum:
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: (REQUIRED) The classification of the error
                      description: Definition of the warning
                      x-readme-ref-name: AudienceWarning
                    nullable: true
                description: Definition of the error code
                x-readme-ref-name: ErrorCodeResponse
              example:
                errors:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: validation
                  code: audience-invalid
                  instance: /audience/314159
                  title: Audience is invalid
                  detail: Audience is not found, please choose a valid audience
                warnings:
                - traceId: 56ed4096-f96a-4944-8881-05468efe0ec9
                  type: deprecation
                  code: deprecated-field
                  instance: /audiences/314195
                  title: '''nbValidIds'' is deprecated'
                  detail: The field 'nbValidIds' is deprecated please use 'nbValidIdentifiers
      security:
      - oauth:
        - MarketingSolutions_Audience_Manage
      summary: Add Remove Identifiers To Or From A Contact List Audience Segment
    parameters:
    - name: audience-segment-id
      in: path
      description: The id of the contact list audience-segment to amend
      required: true
      style: simple
      schema:
        type: string
        format: int32
  /2025-07/log-level/advertisers/{advertiser-id}/report:
    post:
      tags:
      - Analytics
      description: This Statistics endpoint provides publisher data.
      operationId: GetTransparencyReport
      parameters:
      - name: advertiser-id
        in: path
        description: The advertiser id to fetch the transparency data.
        required: true
        style: simple
        schema:
          type: integer
          format: int32
      requestBody:
        description: The query message.
        content:
          application/json-patch+json:
            schema:
              required:
              - endDate
              - startDate
              type: object
              properties:
                endDate:
                  type: string
                  description: End date of the report. Date component of ISO 8061 format, any time or timezone component is ignored.
                  format: date-time
                shouldDisplayProductIds:
                  type: boolean
                  description: Specify if the product ids are displayed in the report.
                  default: false
                startDate:
                  type: string
                  description: Start date of the report. Date component of ISO 8061 format, any time or timezone component is ignored.
                  format: date-time
              additionalProperties: false
              description: This is the message defining the query for Transparency report
              x-readme-ref-name: TransparencyQueryMessage
            example:
              shouldDisplayProductIds: false
              startDate: '2024-04-24T00:00:00.0000000+02:00'
              endDate: '2024-04-27T00:00:00.0000000+02:00'
          application/json:
            schema:
              required:
              - endDate
              - startDate
              type: object
              properties:
                endDate:
                  type: string
                  description: End date of the report. Date component of ISO 8061 format, any time or timezone component is ignored.
                  format: date-time
                shouldDisplayProductIds:
                  type: boolean
                  description: Specify if the product ids are displayed in the report.
                  default: false
                startDate:
                  type: string
                  description: Start date of the report. Date component of ISO 8061 format, any time or timezone component is ignored.
                  format: date-time
              additionalProperties: false
              description: This is the message defining the query for Transparency report
              x-readme-ref-name: TransparencyQueryMessage
            example:
              shouldDisplayProductIds: false
              startDate: '2024-04-24T00:00:00.0000000+02:00'
              endDate: '2024-04-27T00:00:00.0000000+02:00'
          text/json:
            schema:
              required:
              - endDate
              - startDate
              type: object
              properties:
                endDate:
                  type: string
                  description: End date of the report. Date component of ISO 8061 format, any time or timezone component is ignored.
                  format: date-time
                shouldDisplayProductIds:
                  type: boolean
                  description: Specify if the product ids are displayed in the report.
                  default: false
                startDate:
                  type: string
                  description: Start date of the report. Date component of ISO 8061 format, any time or timezone component is ignored.
                  format: date-time
              additionalProperties: false
              description: This is the message defining the query for Transparency report
              x-readme-ref-name: TransparencyQueryMessage
            example:
              shouldDisplayProductIds: false
              startDate: '2024-04-24T00:00:00.0000000+02:00'
              endDate: '2024-04-27T00:00:00.0000000+02:00'
          application/*+json:
            schema:
              required:
              - endDate
              - startDate
              type: object
              properties:
                endDate:
                  type: string
                  description: End date of the report. Date component of ISO 8061 format, any time or timezone component is ignored.
                  format: date-time
                shouldDisplayProductIds:
                  type: boolean
                  description: Specify if the product ids are displayed in the report.
                  default: false
                startDate:
                  type: string
                  description: Start date of the report. Date component of ISO 8061 format, any time or timezone component is ignored.
                  format: date-time
              additionalProperties: false
              description: This is the message defining the query for Transparency report
              x-readme-ref-name: TransparencyQueryMessage
            example:
              shouldDisplayProductIds: false
              startDate: '2024-04-24T00:00:00.0000000+02:00'
              endDate: '2024-04-27T00:00:00.0000000+02:00'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          required:
                          - advertiserId
                          - files
                          - tokenValidUntil
                          type: object
                          properties:
                            advertiserId:
                              type: string
                            files:
                              type: array
                              items:
                                required:
                                - fileName
                                - url
                                type: object
                                properties:
                                  fileName:
                                    type: string
                                  url:
                                    type: string
                                additionalProperties: false
                                description: This is the message defining the file response for Transparency report
                                x-readme-ref-name: TransparencyReportFile
                            tokenValidUntil:
                              type: string
                              format: date-time
                          additionalProperties: false
                          description: This is the message defining the attribute response for Transparency report
                          nullable: true
                          x-readme-ref-name: TransparencyReport
                        type:
                          type: string
                          description: Type of the resource.
                          nullable: true
                      additionalProperties: false
                      description: A value resource exposed by the API.
                      x-readme-ref-name: TransparencyReportResource
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    description: Errors that occured during this call.
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    description: Warnings that occured during this call.
                    nullable: true
                    readOnly: true
                additionalProperties: false
                description: A top-level object that encapsulates a Criteo API response for several value objects.
                x-readme-ref-name: TransparencyReportListResponse
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          required:
                          - advertiserId
                          - files
                          - tokenValidUntil
                          type: object
                          properties:
                            advertiserId:
                              type: string
                            files:
                              type: array
                              items:
                                required:
                                - fileName
                                - url
                                type: object
                                properties:
                                  fileName:
                                    type: string
                                  url:
                                    type: string
                                additionalProperties: false
                                description: This is the message defining the file response for Transparency report
                                x-readme-ref-name: TransparencyReportFile
                            tokenValidUntil:
                              type: string
                              format: date-time
                          additionalProperties: false
                          description: This is the message defining the attribute response for Transparency report
                          nullable: true
[...]
