{
    "openapi": "3.0.1",
    "info": {
      "title": "Marketing API v.1.0",
      "description": "IMPORTANT: This swagger links to Criteo production environment. Any test applied here will thus impact real campaigns.",
      "version": "v.1.0"
    },
    "servers": [
      {
        "url": "https://api.criteo.com"
      }
    ],
    "security": [
      {
        "OAuth2Credentials": []
      }
    ],
    "paths": {
      "/oauth2/token": {
        "post": {
          "tags": [
            "Authorization"
          ],
          "security": [],
          "description": "Creates a token when the supplied client credentials are valid",
          "operationId": "ApiV1Oauth2TokenPost",
          "requestBody": {
            "description": "The clientId and clientSecret used to authenticate",
            "content": {
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/ClientCredentials"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/JwtModel"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/JwtModel"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/JwtModel"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request",
              "content": {
                "text/plain": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetail"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetail"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetail"
                  }
                }
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/advertisers/{advertiserId}/campaigns": {
        "get": {
          "tags": [
            "Campaigns"
          ],
          "summary": "Gets all advertiser's campaigns",
          "description": "Get the list of all the campaigns linked to the requested advertiser.",
          "operationId": "Advertisers_GetCampaigns",
          "parameters": [
            {
              "name": "advertiserId",
              "in": "path",
              "description": "Mandatory. The id of the advertiser to return.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Campaigns returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "The requested advertiser is missing from current user`s portfolio.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/advertisers/{advertiserId}/categories": {
        "get": {
          "tags": [
            "Catalog"
          ],
          "summary": "Gets all advertiser's categories",
          "description": "Get the list of all the categories linked to the requested advertiser.",
          "operationId": "Advertisers_GetCategories",
          "parameters": [
            {
              "name": "advertiserId",
              "in": "path",
              "description": "Mandatory. The id of the advertiser to return.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "enabledOnly",
              "in": "query",
              "description": "Optional. Returns only categories you can bid on. Defaults to false.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Categories returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "The requested advertiser is missing from current user`s portfolio.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/advertisers/{advertiserId}/categories/{categoryHashCode}": {
        "get": {
          "tags": [
            "Catalog"
          ],
          "summary": "Gets a specific advertiser's category",
          "description": "Get a specific category linked to the requested advertiser.",
          "operationId": "Advertisers_GetCategory",
          "parameters": [
            {
              "name": "advertiserId",
              "in": "path",
              "description": "Mandatory. The id of the advertiser to return.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "categoryHashCode",
              "in": "path",
              "description": "Mandatory. The id of the category to return.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Category returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "The requested advertiser is missing from current user`s portfolio.",
              "content": {
  
              }
            },
            "404": {
              "description": "The requested category was not found for the advertiser.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/audiences/userlist": {
        "post": {
          "tags": [
            "Audiences"
          ],
          "summary": "Create a new Audience.",
          "description": "Create a new Audience for the given Advertiser.",
          "operationId": "Audiences_CreateAudience",
          "parameters": [],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreateRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreateRequest"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreateRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreateRequest"
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreateRequest"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AudienceCreateRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Newly created Audience.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AudienceCreateResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AudienceCreateResponse"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/AudienceCreateResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/AudienceCreateResponse"
                  }
                },
                "text/html": {
                  "schema": {
                    "$ref": "#/components/schemas/AudienceCreateResponse"
                  }
                }
              }
            },
            "400": {
              "description": "The Audience name is incorrect. Must not be empty.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "The requested advertiser is missing from current user's portfolio.",
              "content": {
  
              }
            },
            "409": {
              "description": "The Audience name is already used for this Advertiser.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          },
          "x-codegen-request-body-name": "createRequest"
        }
      },
      "/legacy/marketing/v1/audiences": {
        "get": {
          "tags": [
            "Audiences"
          ],
          "summary": "Get the list of Audiences.",
          "description": "Get the list of Audiences for the given Advertiser.",
          "operationId": "Audiences_GetAudiences",
          "parameters": [
            {
              "name": "advertiserId",
              "in": "query",
              "description": "Mandatory. Advertiser to get all Audiences for.",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of Audiences.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencesGetResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencesGetResponse"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencesGetResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencesGetResponse"
                  }
                },
                "text/html": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencesGetResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "The requested advertiser is missing from current user's portfolio.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/audiences/{audienceId}": {
        "put": {
          "tags": [
            "Audiences"
          ],
          "summary": "Update an Audience metadata.",
          "description": "Update an Audience metadata.",
          "operationId": "Audiences_UpdateAudienceMetadata",
          "parameters": [
            {
              "name": "audienceId",
              "in": "path",
              "description": "Mandatory. The id of the Audience to update.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "requestBody": {
            "description": "Mandatory. The request to update the Audience metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePutRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePutRequest"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePutRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePutRequest"
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePutRequest"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePutRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "object"
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "object"
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "object"
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            },
            "204": {
              "description": "Audience metadata was successfully changed.",
              "content": {
  
              }
            },
            "400": {
              "description": "The Audience name is incorrect. Must not be empty.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "The Advertiser this Audience belongs to is not in current user's portfolio.",
              "content": {
  
              }
            },
            "404": {
              "description": "Audience not found.",
              "content": {
  
              }
            },
            "409": {
              "description": "The Audience name is already used for this Advertiser.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          },
          "x-codegen-request-body-name": "request"
        },
        "delete": {
          "tags": [
            "Audiences"
          ],
          "summary": "Delete an Audience.",
          "description": "Delete an Audience.",
          "operationId": "Audiences_DeleteAudience",
          "parameters": [
            {
              "name": "audienceId",
              "in": "path",
              "description": "Mandatory. The id of the audience to delete.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "object"
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "object"
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "object"
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            },
            "204": {
              "description": "Audience was deleted.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "The Advertiser this Audience belongs to is not in current user's portfolio.",
              "content": {
  
              }
            },
            "404": {
              "description": "Audience not found.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/audiences/userlist/{audienceId}/users": {
        "delete": {
          "tags": [
            "Audiences"
          ],
          "summary": "Remove all users from an Audience.",
          "description": "Remove all users from an Audience.",
          "operationId": "Audiences_RemoveUsersFromAudience",
          "parameters": [
            {
              "name": "audienceId",
              "in": "path",
              "description": "Mandatory. The id of the audience to empty.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "object"
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "object"
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "object"
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            },
            "204": {
              "description": "Audience was emptied.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "The Advertiser this Audience belongs to is not in current user's portfolio.",
              "content": {
  
              }
            },
            "404": {
              "description": "Audience not found.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/audiences/userlist/{audienceId}": {
        "patch": {
          "tags": [
            "Audiences"
          ],
          "summary": "Add/Remove users to an Audience.",
          "description": "Add/Remove users to an Audience.",
          "operationId": "Audiences_AddRemoveUsersToAudience",
          "parameters": [
            {
              "name": "audienceId",
              "in": "path",
              "description": "Mandatory. The id of the audience to add or remove users to.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "requestBody": {
            "description": "Mandatory. The request to create the Audience.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePatchRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePatchRequest"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePatchRequest"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePatchRequest"
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePatchRequest"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/AudiencePatchRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Users were Added/Removed successfully.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencePatchResponse"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencePatchResponse"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencePatchResponse"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencePatchResponse"
                  }
                },
                "text/html": {
                  "schema": {
                    "$ref": "#/components/schemas/AudiencePatchResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid Operation, Schema, no valid identifiers given, too many identifiers given in a single request or invalid use of Gum caller id field.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "The Advertiser this Audience belongs to is not in current user's portfolio.",
              "content": {
  
              }
            },
            "404": {
              "description": "Audience not found.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          },
          "x-codegen-request-body-name": "request"
        }
      },
      "/legacy/marketing/v1/budgets": {
        "get": {
          "tags": [
            "Campaigns"
          ],
          "summary": "Gets budgets",
          "description": "Get the list of budgets with the specified filters.\r\nIf an advertiser or a budget is requested but is missing from current user's portfolio, it will not be included in the list.\r\nIf neither budgets ids nor advertisers ids are provided, then the user's portfolio will be used.",
          "operationId": "Budgets_Get",
          "parameters": [
            {
              "name": "advertiserIds",
              "in": "query",
              "description": "Optional. One or more advertiser ids, E.g. 78, 12932, 45236. If the requested advertiser ids are not part of the user's portfolio, they will be skipped.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "budgetIds",
              "in": "query",
              "description": "Optional. One or more budget ids, E.g. 75, 1931, 532. If the requested budget ids are not part of the user's portfolio, they will be skipped.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "onlyActiveCampaigns",
              "in": "query",
              "description": "Optional. Filters by campaign status, allowing to only display active campaigns or not. Default value is true.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Budgets returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BudgetMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BudgetMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BudgetMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BudgetMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/BudgetMessage"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "No advertiser was specified and user does not have a portfolio.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/campaigns": {
        "get": {
          "tags": [
            "Campaigns"
          ],
          "summary": "Gets campaigns",
          "description": "Get the list of campaigns with the specified filters.\r\nIf a campaign is requested but is missing from current user's portfolio, it will not be included in the list.\r\nIf neither campaign ids nor advertisers ids are provided, then the user's portfolio will be used.",
          "operationId": "Campaigns_GetCampaigns",
          "parameters": [
            {
              "name": "campaignIds",
              "in": "query",
              "description": "Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not linked to advertisers in the user's portfolio, they will be skipped.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "advertiserIds",
              "in": "query",
              "description": "Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user's portfolio, they will be skipped.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "campaignStatus",
              "in": "query",
              "description": "Optional. Filters by campaign status. By default no filtering is applied.",
              "schema": {
                "type": "string",
                "enum": [
                  "Running",
                  "Archived",
                  "NotRunning"
                ]
              }
            },
            {
              "name": "bidType",
              "in": "query",
              "description": "Optional. Filters by campaign bid type. By default, no filtering is applied.",
              "schema": {
                "type": "string",
                "enum": [
                  "Unknown",
                  "CPC",
                  "COS",
                  "CPO"
                ]
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Campaigns returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "There is not even one valid advertiserId or campaignId requested.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/campaigns/{campaignId}": {
        "get": {
          "tags": [
            "Campaigns"
          ],
          "summary": "Gets a specific campaign",
          "description": "Get a specific campaign",
          "operationId": "Campaigns_GetCampaign",
          "parameters": [
            {
              "name": "campaignId",
              "in": "path",
              "description": "Mandatory. The id of the campaign to return.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Campaign returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CampaignMessage"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CampaignMessage"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/CampaignMessage"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/CampaignMessage"
                  }
                },
                "text/html": {
                  "schema": {
                    "$ref": "#/components/schemas/CampaignMessage"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "One of the requested campaigns doesn't belong to the API user's portfolio which prevents from accessing its data.",
              "content": {
  
              }
            },
            "404": {
              "description": "The requested campaign was not found.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/campaigns/{campaignId}/categories": {
        "get": {
          "tags": [
            "Campaigns"
          ],
          "summary": "Gets categories",
          "description": "Get the list of categories linked to the requested campaign.",
          "operationId": "Campaigns_GetCategories",
          "parameters": [
            {
              "name": "campaignId",
              "in": "path",
              "description": "Mandatory. The id of the campaign the categories are linked to.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "enabledOnly",
              "in": "query",
              "description": "Optional. Returns only categories you can bid on. Defaults to false.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Categories returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                },
                "text/html": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "One of the requested campaigns doesn't belong to the API user's portfolio which prevents from accessing its data.",
              "content": {
  
              }
            },
            "404": {
              "description": "The requested campaign was not found.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/campaigns/{campaignId}/categories/{categoryHashCode}": {
        "get": {
          "tags": [
            "Campaigns"
          ],
          "summary": "Gets a specific category",
          "description": "Get a specific category linked to the requested campaign.",
          "operationId": "Campaigns_GetCategory",
          "parameters": [
            {
              "name": "campaignId",
              "in": "path",
              "description": "Mandatory. The id of the campaign the categories are linked to.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "categoryHashCode",
              "in": "path",
              "description": "Mandatory. The id of the category to return.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Category returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                },
                "text/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                },
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                },
                "text/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                },
                "text/html": {
                  "schema": {
                    "$ref": "#/components/schemas/CategoryMessage"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "One of the requested campaigns doesn't belong to the API user's portfolio which prevents from accessing its data.",
              "content": {
  
              }
            },
            "404": {
              "description": "The requested category was not found for the campaign.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/campaigns/bids": {
        "get": {
          "tags": [
            "Campaigns"
          ],
          "summary": "Gets a the bids for campaigns and their categories",
          "description": "Get the campaigns' bids, as well as the bids of their categories",
          "operationId": "Campaigns_GetBids",
          "parameters": [
            {
              "name": "campaignIds",
              "in": "query",
              "description": "Optional. The ids of the campaigns we want to get the bids on. If not specified, advertiserIds will be used.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "advertiserIds",
              "in": "query",
              "description": "Optional. The ids of the advertisers' campaigns we want to get the bids on. If campaignIds not specified, and neither is advertiserIds, all the advertisers in the user's portfolio are used.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "categoryHashCodes",
              "in": "query",
              "description": "Optional. Filters only specified categories. By default no filtering is applied.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "bidType",
              "in": "query",
              "description": "Optional. Filters by bid type. By default no filtering is applied.",
              "schema": {
                "type": "string",
                "enum": [
                  "Unknown",
                  "CPC",
                  "COS",
                  "CPO"
                ]
              }
            },
            {
              "name": "campaignStatus",
              "in": "query",
              "description": "Optional. Filters by campaign status. By default no filtering is applied.",
              "schema": {
                "type": "string",
                "enum": [
                  "Running",
                  "Archived",
                  "NotRunning"
                ]
              }
            },
            {
              "name": "pendingChanges",
              "in": "query",
              "description": "Optional. Filters only pending changes or settled ones. By default no filtering is applied.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Bids returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignBidMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignBidMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignBidMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignBidMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignBidMessage"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "There is not even one valid advertiserId or campaignId requested.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        },
        "put": {
          "tags": [
            "Campaigns"
          ],
          "summary": "Update bids for campaigns and their categories",
          "description": "If a campaign bid is updated, all (if any) category bids for this campaign will be updated with the new value if they are initially equal to the campaign bid.\r\nIf the category bid is not wanted to be cascaded to the categories with the same bid value, new change bids must be added in the request for the categories where the value should be kept (with the initial value).",
          "operationId": "Campaigns_UpdateBids",
          "parameters": [],
          "requestBody": {
            "description": "Specifies the list of bid changes to be applied.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignBidChangeRequest"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignBidChangeRequest"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignBidChangeRequest"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignBidChangeRequest"
                  }
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignBidChangeRequest"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignBidChangeRequest"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Campaign bids updated OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CampaignMessage"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input. Please check returned message for details.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          },
          "x-codegen-request-body-name": "bidChanges"
        }
      },
      "/legacy/marketing/v1/categories": {
        "get": {
          "tags": [
            "Catalog"
          ],
          "summary": "Gets categories",
          "description": "Get the list of categories with the specified filters.\r\nIf a category is requested but is missing from current user's portfolio, it will not be included in the list.\r\nIf neither campaign ids nor advertisers ids are provided, then the user's portfolio will be used.",
          "operationId": "Categories_GetCategories",
          "parameters": [
            {
              "name": "campaignIds",
              "in": "query",
              "description": "Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not liked to advertisers in the user's portfolio, they will be skipped.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "advertiserIds",
              "in": "query",
              "description": "Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user's portfolio, they will be skipped.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "categoryHashCodes",
              "in": "query",
              "description": "Optional. One or more category hash codes.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "enabledOnly",
              "in": "query",
              "description": "Optional. Returns only categories you can bid on. Defaults to false.",
              "schema": {
                "type": "boolean"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Categories returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryMessage"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "There is not even one valid advertiserId or campaignId requested.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        },
        "put": {
          "tags": [
            "Catalog"
          ],
          "summary": "Enables/disables categories",
          "description": "Update categories for multiple catalogs.\u003Cbr /\u003E\r\nPlease note that all validations need to pass before applying the requested changes;\r\nthe subsequent validation error messages will be returned in the response.\u003Cbr /\u003E\r\nPlease note that bidding will still happen for disabled categories, but using the Camapign's bid.\r\nIf the call is successful, full details about the changed categories will be returned.",
          "operationId": "Categories_UpdateCategories",
          "parameters": [],
          "requestBody": {
            "description": "The list of categories to be enabled/disabled, grouped by catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                  }
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                  }
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Categories updated OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CategoryUpdatesPerCatalog"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input. Please check returned message for details.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          },
          "x-codegen-request-body-name": "categoriesPerCatalog"
        }
      },
      "/legacy/marketing/v1/portfolio": {
        "get": {
          "tags": [
            "Advertiser"
          ],
          "summary": "Gets portfolio",
          "operationId": "Portfolio_GetPortfolio",
          "parameters": [],
          "responses": {
            "200": {
              "description": "Portfolio returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PortfolioMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PortfolioMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PortfolioMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PortfolioMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PortfolioMessage"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/marketing/v1/publishers/stats": {
        "post": {
          "tags": [
            "Analytics"
          ],
          "operationId": "Publishers_GetStats",
          "parameters": [],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublisherStatsQueryMessage"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublisherStatsQueryMessage"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublisherStatsQueryMessage"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PublisherStatsQueryMessage"
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/PublisherStatsQueryMessage"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/PublisherStatsQueryMessage"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Stats returned OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PublisherStatsMessage"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PublisherStatsMessage"
                    }
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PublisherStatsMessage"
                    }
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PublisherStatsMessage"
                    }
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PublisherStatsMessage"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "API account not eligible to use this feature.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          },
          "x-codegen-request-body-name": "queryMessage"
        }
      },
      "/legacy/marketing/v1/statistics": {
        "post": {
          "tags": [
            "Analytics"
          ],
          "summary": "Generates a statistics report",
          "description": "\u003Cb\u003EReportType\u003C/b\u003E: The type of report to generate. Possible values: CampaignPerformance, FacebookDPA, TransactionID. \u003Ci\u003E(mandatory)\u003C/i\u003E\u003Cbr /\u003E\u003Cb\u003EAdvertiserIds\u003C/b\u003E: The list of advertiser ids, comma-separated. Advertisers not in your portfolio will be skipped. If not present, all the advertisers in the portfolio will be used. \u003Ci\u003E(optional)\u003C/i\u003E\u003Cbr /\u003E\u003Cb\u003EStartDate, EndDate\u003C/b\u003E: Start date (beginning of day) and end date (end of day) to be used for the report generation. Format to use: yyyy-MM-dd (e.g. 2017-10-30). \u003Ci\u003E(mandatory)\u003C/i\u003E\u003Cbr /\u003E\u003Cb\u003EDimensions\u003C/b\u003E: The dimensions to be used in the report. Between one and three. Possible values: CampaignId, AdvertiserId, Category, Hour, Day, Week, Month, Year. \u003Ci\u003E(mandatory)\u003C/i\u003E\u003Cbr /\u003E\u003Cb\u003EMetrics\u003C/b\u003E: The metrics to be used in the report. For a list of possible values, please see \u003Ca href=\"https://support.criteo.com/s/article?article=Criteo-Marketing-API-Intro\"\u003Ethe full documentation\u003C/a\u003E. \u003Ci\u003E(mandatory)\u003C/i\u003E\u003Cbr /\u003E\u003Cb\u003EFormat\u003C/b\u003E: The file format of the generated report. Possible values: Csv, Excel, Xml, Json \u003Ci\u003E(mandatory)\u003C/i\u003E\u003Cbr /\u003E\u003Cb\u003ECurrency\u003C/b\u003E: The currency to be used in the report. Three-letter capitals. For a list of possible values, please see \u003Ca href=\"https://support.criteo.com/s/article?article=Criteo-Marketing-API-Intro\"\u003Ethe full documentation\u003C/a\u003E. If not set, the user's preference setting will be used. \u003Ci\u003E(optional)\u003C/i\u003E\u003Cbr /\u003E\u003Cb\u003ETimezone\u003C/b\u003E: Timezone to be used in the report. Possible values: GMT, PST, JST. If not set, the user's preference setting will be used. \u003Ci\u003E(optional)\u003C/i\u003E\u003Cbr /\u003E\u003Cb\u003EIgnoreXDevice\u003C/b\u003E: Ignore cross-device data. Also can explicitly set to null for TransactionID ReportType to get all data. Defaults to false. \u003Ci\u003E(optional)\u003C/i\u003E\u003Cbr /\u003E\u003Ch4\u003EFunctional cases\u003C/h4\u003E\r\n            Statistic export in a file might be corrupted through Swagger. It's recommended to access this file through a CURL request or other programmatic methods.\r\n            \u003Ch4\u003EValidation rules\u003C/h4\u003E\r\n            StartDate and EndDate are mandatory.\u003Cbr /\u003E\r\n            StartDate should come before, or be equal to EndDate.\u003Cbr /\u003E\r\n            The requested dimensions must be in a supported combination.\u003Cbr /\u003E\r\n            At least one metric must be provided.\u003Cbr /\u003E\r\n            All metrics must be supported.\u003Cbr /\u003E\r\n            The selected advertisers must have at least one campaign.\u003Cbr /\u003E\r\n            Seller dimension is not supported.\u003Cbr /\u003E\u003Ch4\u003EResponse custom headers\u003C/h4\u003E\r\n            If you are asking for a CampaignPerformance report and sales metrics are late, response will have a custom header \u003Cb\u003Elatest-available-sales\u003C/b\u003E, a datetime with format \u003Cb\u003Eyyyy-MM-dd HH:mm\u003C/b\u003E using the requested timezone.",
          "operationId": "Statistics_GetStats",
          "parameters": [],
          "requestBody": {
            "description": "The report query details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsQueryMessageEx"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsQueryMessageEx"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StatsQueryMessageEx"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/StatsQueryMessageEx"
                }
              },
              "application/x-www-form-urlencoded": {
                "schema": {
                  "$ref": "#/components/schemas/StatsQueryMessageEx"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/StatsQueryMessageEx"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Statistics report generated OK.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "text/xml": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  }
                },
                "text/html": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  }
                }
              }
            },
            "400": {
              "description": "Bad request, invalid syntax or validation error.",
              "content": {
  
              }
            },
            "401": {
              "description": "Authentication failed.",
              "content": {
  
              }
            },
            "403": {
              "description": "No campaigns found.",
              "content": {
  
              }
            },
            "429": {
              "description": "Throttling failure. Maximum sending rate exceeded.",
              "content": {
  
              }
            },
            "500": {
              "description": "Unknown error.",
              "content": {
  
              }
            }
          },
          "x-codegen-request-body-name": "statsQuery"
        }
      },
      "/legacy/offsite-ads/advertisers": {
        "get": {
          "tags": [
            "Sellers"
          ],
          "description": "Get the collection of advertisers associated with the user.",
          "operationId": "GetAdvertisers",
          "responses": {
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
            },
            "429": {
              "description": "Client Error",
              "content": {
  
              }
            },
            "500": {
              "description": "Server Error",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/offsite-ads/advertisers/{advertiserId}": {
        "get": {
          "tags": [
            "Sellers"
          ],
          "description": "Get an advertiser.",
          "operationId": "GetAdvertiser",
          "parameters": [
            {
              "name": "advertiserId",
              "in": "path",
              "description": "Id of the advertiser",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
            },
            "429": {
              "description": "Client Error",
              "content": {
  
              }
            },
            "500": {
              "description": "Server Error",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/offsite-ads/advertisers/{advertiserId}/campaigns": {
        "get": {
          "tags": [
            "Sellers"
          ],
          "description": "Get the collection of COA campaigns associated with the advertiserId.",
          "operationId": "GetAdvertiserCampaigns",
          "parameters": [
            {
              "name": "advertiserId",
              "in": "path",
              "description": "Id of the advertiser",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
            },
            "429": {
              "description": "Client Error",
              "content": {
  
              }
            },
            "500": {
              "description": "Server Error",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/offsite-ads/advertisers/{advertiserId}/sellers": {
        "post": {
          "tags": [
            "Sellers"
          ],
          "description": "Create new sellers for an advertiser",
          "operationId": "CreateSellers",
          "parameters": [
            {
              "name": "advertiserId",
              "in": "path",
              "description": "Id of the advertiser",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "partnerId",
              "in": "query",
              "description": "Id of the partner",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "requestBody": {
            "description": "Names of the sellers to associate with new Ids",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/*+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "required": false
          },
          "responses": {
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
            },
            "429": {
              "description": "Client Error",
              "content": {
  
              }
            },
            "500": {
              "description": "Server Error",
              "content": {
  
              }
            }
          },
          "x-codegen-request-body-name": "sellerNames"
        }
      },
      "/legacy/offsite-ads/advertisers/{advertiserId}/budgets": {
        "get": {
          "tags": [
            "Sellers"
          ],
          "description": "Get COA budgets for a specific advertiser",
          "operationId": "GetBudgetsByAdvertiser",
          "parameters": [
            {
              "name": "advertiserId",
              "in": "path",
              "description": "Id of the advertiser",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Return only budgets with the given status.",
              "schema": {
                "type": "string",
                "enum": [
                  "Archived",
                  "Current",
                  "Scheduled"
                ]
              }
            },
            {
              "name": "withBalance",
              "in": "query",
              "description": "Return only budgets with the given status.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "withSpend",
              "in": "query",
              "description": "Return budgets with any positive spend.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "endAfterDate",
              "in": "query",
              "description": "Return budgets that end after the given date using the `yyyy-MM-DD` format.\r\n            If param is not provided, default behavior is to only return budgets that have not yet ended.",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "startBeforeDate",
              "in": "query",
              "description": "Return budgets that start on or before the given date using the `yyyy-MM-DD` format.",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "budgetId",
              "in": "query",
              "description": "Return only budgets with given Id",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "sellerId",
              "in": "query",
              "description": "Return only budgets belonging to given sellerId",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "type",
              "in": "query",
              "description": "Return only budgets with the given budget type.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
            },
            "429": {
              "description": "Client Error",
              "content": {
  
              }
            },
            "500": {
              "description": "Server Error",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/offsite-ads/advertisers/{advertiserId}/seller-campaigns": {
        "get": {
          "tags": [
            "Sellers"
          ],
          "description": "Get COA seller campaigns for a specific advertiser",
          "operationId": "GetSellerCampaignsByAdvertiser",
          "parameters": [
            {
              "name": "advertiserId",
              "in": "path",
              "description": "Id of the advertiser",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
            },
            "429": {
              "description": "Client Error",
              "content": {
  
              }
            },
            "500": {
              "description": "Server Error",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/offsite-ads/sellers/{sellerId}": {
        "get": {
          "tags": [
            "Sellers"
          ],
          "description": "Return details for the selected seller. For example,\r\n            \r\n    {\r\n        \"id\" : \"123456\"\r\n        \"sellerName\": \"HBogart\",\r\n    }",
          "operationId": "GetSeller",
          "parameters": [
            {
              "name": "sellerId",
              "in": "path",
              "description": "Id of the seller.",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "400": {
              "description": "Bad Request",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
            },
            "429": {
              "description": "Client Error",
              "content": {
  
              }
            },
            "500": {
              "description": "Server Error",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/offsite-ads/sellers": {
        "get": {
          "tags": [
            "Sellers"
          ],
          "description": "Return a collection of sellers filtered by optional filter parameters.\r\nIf all parameters are omitted the entire collection to which the user has\r\naccess is returned. Returned sellers must satisfy all supplied filter\r\ncriteria if multiple parameters are used.",
          "operationId": "GetSellers",
          "parameters": [
            {
              "name": "sellerStatus",
              "in": "query",
              "description": "Return only sellers with specific status.",
              "schema": {
                "type": "string",
                "enum": [
                  "Inactive",
                  "Active"
                ]
              }
            },
            {
              "name": "withProducts",
              "in": "query",
              "description": "Return only sellers with or without products in catalog.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "withBudgetStatus",
              "in": "query",
              "description": "Return only sellers with specific budget status.",
              "schema": {
                "type": "string",
                "enum": [
                  "Archived",
                  "Current",
                  "Scheduled"
                ]
              }
            },
            {
              "name": "sellerName",
              "in": "query",
              "description": "Return only sellers with the matching name.",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "advertiserId",
              "in": "query",
              "description": "Return only sellers belonging to the specified advertiser",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "campaignId",
              "in": "query",
              "description": "Return only sellers belonging to the specified campaign",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "400": {
              "description": "Bad Request",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
            },
            "429": {
              "description": "Client Error",
              "content": {
  
              }
            },
            "500": {
              "description": "Server Error",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/offsite-ads/sellers/{sellerId}/budgets": {
        "get": {
          "tags": [
            "Sellers"
          ],
          "description": "Return a collection of budgets for this seller filtered by optional filter parameters.\r\nIf all parameters are omitted the entire collection to which the user has\r\naccess is returned, except those whose endDate is in the past. Returned budgets must satisfy all supplied filter\r\ncriteria if multiple parameters are used. See the budgets endpoint for additional details.",
          "operationId": "GetBudgetsBySeller",
          "parameters": [
            {
              "name": "sellerId",
              "in": "path",
              "description": "Return only budgets belonging to the given seller.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Return only budgets with the given status.",
              "schema": {
                "type": "string",
                "enum": [
                  "Archived",
                  "Current",
                  "Scheduled"
                ]
              }
            },
            {
              "name": "withBalance",
              "in": "query",
              "description": "Return only budgets with the given status.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "withSpend",
              "in": "query",
              "description": "Return budgets with any positive spend.",
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "endAfterDate",
              "in": "query",
              "description": "Return budgets that end after the given date using the `yyyy-MM-DD` format.\r\n            If param is not provided, default behavior is to only return budgets that have not yet ended.",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "startBeforeDate",
              "in": "query",
              "description": "Return budgets that start on or before the given date using the `yyyy-MM-DD` format.",
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "campaignId",
              "in": "query",
              "description": "Return only budgets that pay for a given campaign.",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "type",
              "in": "query",
              "description": "Return only budgets with the given budget type.",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "400": {
              "description": "Bad Request",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
            },
            "429": {
              "description": "Client Error",
              "content": {
  
              }
            },
            "500": {
              "description": "Server Error",
              "content": {
  
              }
            }
          }
        }
      },
      "/legacy/offsite-ads/sellers/{sellerId}/seller-campaigns": {
        "get": {
          "tags": [
            "Sellers"
          ],
          "description": "Return a collection of seller campaigns for this seller filtered by optional filter parameters.\r\nIf all parameters are omitted the entire collection to which the user has\r\naccess is returned. Returned sellers must satisfy all supplied filter\r\ncriteria if multiple parameters are used. See the seller campaigns endpoint for additional details.",
          "operationId": "GetSellerCampaignsBySeller",
          "parameters": [
            {
              "name": "sellerId",
              "in": "path",
              "description": "Return only seller campaigns belonging to the given seller.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sellerStatus",
              "in": "query",
              "description": "Return only seller campaigns for sellers with the given status.",
              "schema": {
                "type": "string",
                "enum": [
                  "Inactive",
                  "Active"
                ]
              }
            },
            {
              "name": "campaignId",
              "in": "query",
              "description": "Return only seller campaigns associated with the given campaign.",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "budgetStatus",
              "in": "query",
              "description": "Return only seller campaigns whose budget has the given status.",
              "schema": {
                "type": "string",
                "enum": [
                  "Archived",
                  "Current",
                  "Scheduled"
                ]
              }
            }
          ],
          "responses": {
            "400": {
              "description": "Bad Request",
              "content": {
                "text/plain": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                },
                "text/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ErrorSource"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
  
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
  
              }
[...]
