openapi: 3.0.1
info:
  title: Marketing API v.1.0
  description: 'IMPORTANT: This swagger links to Criteo production environment. Any test applied here will thus impact real campaigns.'
  version: v.1.0
servers:
- url: https://api.criteo.com
security:
- OAuth2Credentials: []
paths:
  /oauth2/token:
    post:
      tags:
      - Authorization
      security: []
      description: Creates a token when the supplied client credentials are valid
      operationId: ApiV1Oauth2TokenPost
      requestBody:
        description: The clientId and clientSecret used to authenticate
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                grant_type:
                  enum:
                  - client_credentials
                  default: client_credentials
              description: Client Credentials for fun
              x-readme-ref-name: ClientCredentials
      responses:
        '201':
          description: Success
          content:
            text/plain:
              schema:
                type: object
                properties:
                  jwt:
                    type: string
                description: JSON Web Token to be used with other services
                x-readme-ref-name: JwtModel
            application/json:
              schema:
                type: object
                properties:
                  jwt:
                    type: string
                description: JSON Web Token to be used with other services
                x-readme-ref-name: JwtModel
            text/json:
              schema:
                type: object
                properties:
                  jwt:
                    type: string
                description: JSON Web Token to be used with other services
                x-readme-ref-name: JwtModel
        '400':
          description: Bad request
          content:
            text/plain:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                    readOnly: true
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                    format: int32
                  detail:
                    type: string
                  instance:
                    type: string
                additionalProperties:
                  type: object
                description: "Holds machine-readable details of errors in a HTTP response to avoid the need to\r\ndefine new error response formats for HTTP APIs."
                x-readme-ref-name: ProblemDetail
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                    readOnly: true
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                    format: int32
                  detail:
                    type: string
                  instance:
                    type: string
                additionalProperties:
                  type: object
                description: "Holds machine-readable details of errors in a HTTP response to avoid the need to\r\ndefine new error response formats for HTTP APIs."
                x-readme-ref-name: ProblemDetail
            text/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                    readOnly: true
                  type:
                    type: string
                  title:
                    type: string
                  status:
                    type: integer
                    format: int32
                  detail:
                    type: string
                  instance:
                    type: string
                additionalProperties:
                  type: object
                description: "Holds machine-readable details of errors in a HTTP response to avoid the need to\r\ndefine new error response formats for HTTP APIs."
                x-readme-ref-name: ProblemDetail
      summary: V 1 OAuth 2 Token Post
  /legacy/marketing/v1/advertisers/{advertiserId}/campaigns:
    get:
      tags:
      - Campaigns
      summary: Advertisers Get Campaigns
      description: Get the list of all the campaigns linked to the requested advertiser.
      operationId: Advertisers_GetCampaigns
      parameters:
      - name: advertiserId
        in: path
        description: Mandatory. The id of the advertiser to return.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Campaigns returned OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
            text/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
            application/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
            text/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
            text/html:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: The requested advertiser is missing from current user`s portfolio.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
  /legacy/marketing/v1/advertisers/{advertiserId}/categories:
    get:
      tags:
      - Catalog
      summary: Advertisers Get Categories
      description: Get the list of all the categories linked to the requested advertiser.
      operationId: Advertisers_GetCategories
      parameters:
      - name: advertiserId
        in: path
        description: Mandatory. The id of the advertiser to return.
        required: true
        schema:
          type: integer
          format: int32
      - name: enabledOnly
        in: query
        description: Optional. Returns only categories you can bid on. Defaults to false.
        schema:
          type: boolean
      responses:
        '200':
          description: Categories returned OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
            text/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
            application/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
            text/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
            text/html:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: The requested advertiser is missing from current user`s portfolio.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
  /legacy/marketing/v1/advertisers/{advertiserId}/categories/{categoryHashCode}:
    get:
      tags:
      - Catalog
      summary: Advertisers Get Category
      description: Get a specific category linked to the requested advertiser.
      operationId: Advertisers_GetCategory
      parameters:
      - name: advertiserId
        in: path
        description: Mandatory. The id of the advertiser to return.
        required: true
        schema:
          type: integer
          format: int32
      - name: categoryHashCode
        in: path
        description: Mandatory. The id of the category to return.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Category returned OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
            text/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
            application/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
            text/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
            text/html:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryHashCode:
                      type: integer
                      format: int32
                    categoryName:
                      type: string
                    catalogId:
                      type: integer
                      format: int32
                    catalogName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    advertiserName:
                      type: string
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    averagePrice:
                      type: number
                      format: double
                    numberOfProducts:
                      type: integer
                      format: int32
                    categoryBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                    enabled:
                      type: boolean
                  x-readme-ref-name: CategoryMessage
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: The requested advertiser is missing from current user`s portfolio.
          content: {}
        '404':
          description: The requested category was not found for the advertiser.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
  /legacy/marketing/v1/audiences/userlist:
    post:
      tags:
      - Audiences
      summary: Audiences Create Audience
      description: Create a new Audience for the given Advertiser.
      operationId: Audiences_CreateAudience
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                advertiserId:
                  type: integer
                  description: Mandatory. The AdvertiserId this Audience will belong to.
                  format: int32
                name:
                  type: string
                  description: Mandatory. The Audience Name.
                description:
                  type: string
                  description: Optional description of the audience.
              x-readme-ref-name: AudienceCreateRequest
          text/json:
            schema:
              type: object
              properties:
                advertiserId:
                  type: integer
                  description: Mandatory. The AdvertiserId this Audience will belong to.
                  format: int32
                name:
                  type: string
                  description: Mandatory. The Audience Name.
                description:
                  type: string
                  description: Optional description of the audience.
              x-readme-ref-name: AudienceCreateRequest
          application/xml:
            schema:
              type: object
              properties:
                advertiserId:
                  type: integer
                  description: Mandatory. The AdvertiserId this Audience will belong to.
                  format: int32
                name:
                  type: string
                  description: Mandatory. The Audience Name.
                description:
                  type: string
                  description: Optional description of the audience.
              x-readme-ref-name: AudienceCreateRequest
          text/xml:
            schema:
              type: object
              properties:
                advertiserId:
                  type: integer
                  description: Mandatory. The AdvertiserId this Audience will belong to.
                  format: int32
                name:
                  type: string
                  description: Mandatory. The Audience Name.
                description:
                  type: string
                  description: Optional description of the audience.
              x-readme-ref-name: AudienceCreateRequest
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                advertiserId:
                  type: integer
                  description: Mandatory. The AdvertiserId this Audience will belong to.
                  format: int32
                name:
                  type: string
                  description: Mandatory. The Audience Name.
                description:
                  type: string
                  description: Optional description of the audience.
              x-readme-ref-name: AudienceCreateRequest
          text/html:
            schema:
              type: object
              properties:
                advertiserId:
                  type: integer
                  description: Mandatory. The AdvertiserId this Audience will belong to.
                  format: int32
                name:
                  type: string
                  description: Mandatory. The Audience Name.
                description:
                  type: string
                  description: Optional description of the audience.
              x-readme-ref-name: AudienceCreateRequest
        required: true
      responses:
        '200':
          description: Newly created Audience.
          content:
            application/json:
              schema:
                type: object
                properties:
                  audienceId:
                    type: integer
                    format: int32
                x-readme-ref-name: AudienceCreateResponse
            text/json:
              schema:
                type: object
                properties:
                  audienceId:
                    type: integer
                    format: int32
                x-readme-ref-name: AudienceCreateResponse
            application/xml:
              schema:
                type: object
                properties:
                  audienceId:
                    type: integer
                    format: int32
                x-readme-ref-name: AudienceCreateResponse
            text/xml:
              schema:
                type: object
                properties:
                  audienceId:
                    type: integer
                    format: int32
                x-readme-ref-name: AudienceCreateResponse
            text/html:
              schema:
                type: object
                properties:
                  audienceId:
                    type: integer
                    format: int32
                x-readme-ref-name: AudienceCreateResponse
        '400':
          description: The Audience name is incorrect. Must not be empty.
          content: {}
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: The requested advertiser is missing from current user's portfolio.
          content: {}
        '409':
          description: The Audience name is already used for this Advertiser.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
      x-codegen-request-body-name: createRequest
  /legacy/marketing/v1/audiences:
    get:
      tags:
      - Audiences
      summary: Audiences Get Audiences
      description: Get the list of Audiences for the given Advertiser.
      operationId: Audiences_GetAudiences
      parameters:
      - name: advertiserId
        in: query
        description: Mandatory. Advertiser to get all Audiences for.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List of Audiences.
          content:
            application/json:
              schema:
                type: object
                properties:
                  audiences:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        advertiserId:
                          type: integer
                          format: int32
                        name:
                          type: string
                        description:
                          type: string
                        created:
                          type: integer
                          description: Unix timestamp in seconds of audience creation
                          format: int64
                        updated:
                          type: integer
                          description: Unix timestamp in seconds of audience last update
                          format: int64
                        nbLines:
                          type: integer
                          description: The total number of line in the audience
                          format: int32
                        nbLinesEmail:
                          type: integer
                          description: The number of email line in the audience
                          format: int32
                        nbMatchesEmail:
                          type: integer
                          description: The number of email matches in the audience
                          format: int32
                      x-readme-ref-name: AudienceResponse
                x-readme-ref-name: AudiencesGetResponse
            text/json:
              schema:
                type: object
                properties:
                  audiences:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        advertiserId:
                          type: integer
                          format: int32
                        name:
                          type: string
                        description:
                          type: string
                        created:
                          type: integer
                          description: Unix timestamp in seconds of audience creation
                          format: int64
                        updated:
                          type: integer
                          description: Unix timestamp in seconds of audience last update
                          format: int64
                        nbLines:
                          type: integer
                          description: The total number of line in the audience
                          format: int32
                        nbLinesEmail:
                          type: integer
                          description: The number of email line in the audience
                          format: int32
                        nbMatchesEmail:
                          type: integer
                          description: The number of email matches in the audience
                          format: int32
                      x-readme-ref-name: AudienceResponse
                x-readme-ref-name: AudiencesGetResponse
            application/xml:
              schema:
                type: object
                properties:
                  audiences:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        advertiserId:
                          type: integer
                          format: int32
                        name:
                          type: string
                        description:
                          type: string
                        created:
                          type: integer
                          description: Unix timestamp in seconds of audience creation
                          format: int64
                        updated:
                          type: integer
                          description: Unix timestamp in seconds of audience last update
                          format: int64
                        nbLines:
                          type: integer
                          description: The total number of line in the audience
                          format: int32
                        nbLinesEmail:
                          type: integer
                          description: The number of email line in the audience
                          format: int32
                        nbMatchesEmail:
                          type: integer
                          description: The number of email matches in the audience
                          format: int32
                      x-readme-ref-name: AudienceResponse
                x-readme-ref-name: AudiencesGetResponse
            text/xml:
              schema:
                type: object
                properties:
                  audiences:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        advertiserId:
                          type: integer
                          format: int32
                        name:
                          type: string
                        description:
                          type: string
                        created:
                          type: integer
                          description: Unix timestamp in seconds of audience creation
                          format: int64
                        updated:
                          type: integer
                          description: Unix timestamp in seconds of audience last update
                          format: int64
                        nbLines:
                          type: integer
                          description: The total number of line in the audience
                          format: int32
                        nbLinesEmail:
                          type: integer
                          description: The number of email line in the audience
                          format: int32
                        nbMatchesEmail:
                          type: integer
                          description: The number of email matches in the audience
                          format: int32
                      x-readme-ref-name: AudienceResponse
                x-readme-ref-name: AudiencesGetResponse
            text/html:
              schema:
                type: object
                properties:
                  audiences:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int32
                        advertiserId:
                          type: integer
                          format: int32
                        name:
                          type: string
                        description:
                          type: string
                        created:
                          type: integer
                          description: Unix timestamp in seconds of audience creation
                          format: int64
                        updated:
                          type: integer
                          description: Unix timestamp in seconds of audience last update
                          format: int64
                        nbLines:
                          type: integer
                          description: The total number of line in the audience
                          format: int32
                        nbLinesEmail:
                          type: integer
                          description: The number of email line in the audience
                          format: int32
                        nbMatchesEmail:
                          type: integer
                          description: The number of email matches in the audience
                          format: int32
                      x-readme-ref-name: AudienceResponse
                x-readme-ref-name: AudiencesGetResponse
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: The requested advertiser is missing from current user's portfolio.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
  /legacy/marketing/v1/audiences/{audienceId}:
    put:
      tags:
      - Audiences
      summary: Audiences Update Audience Metadata
      description: Update an Audience metadata.
      operationId: Audiences_UpdateAudienceMetadata
      parameters:
      - name: audienceId
        in: path
        description: Mandatory. The id of the Audience to update.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Mandatory. The request to update the Audience metadata.
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Mandatory. Name of the Audience to update. Must be unique, and not empty.
                description:
                  type: string
                  description: Optional. Description of the Audience to update.
              x-readme-ref-name: AudiencePutRequest
          text/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Mandatory. Name of the Audience to update. Must be unique, and not empty.
                description:
                  type: string
                  description: Optional. Description of the Audience to update.
              x-readme-ref-name: AudiencePutRequest
          application/xml:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Mandatory. Name of the Audience to update. Must be unique, and not empty.
                description:
                  type: string
                  description: Optional. Description of the Audience to update.
              x-readme-ref-name: AudiencePutRequest
          text/xml:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Mandatory. Name of the Audience to update. Must be unique, and not empty.
                description:
                  type: string
                  description: Optional. Description of the Audience to update.
              x-readme-ref-name: AudiencePutRequest
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Mandatory. Name of the Audience to update. Must be unique, and not empty.
                description:
                  type: string
                  description: Optional. Description of the Audience to update.
              x-readme-ref-name: AudiencePutRequest
          text/html:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Mandatory. Name of the Audience to update. Must be unique, and not empty.
                description:
                  type: string
                  description: Optional. Description of the Audience to update.
              x-readme-ref-name: AudiencePutRequest
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            text/html:
              schema:
                type: object
        '204':
          description: Audience metadata was successfully changed.
          content: {}
        '400':
          description: The Audience name is incorrect. Must not be empty.
          content: {}
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: The Advertiser this Audience belongs to is not in current user's portfolio.
          content: {}
        '404':
          description: Audience not found.
          content: {}
        '409':
          description: The Audience name is already used for this Advertiser.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
      x-codegen-request-body-name: request
    delete:
      tags:
      - Audiences
      summary: Audiences Delete Audience
      description: Delete an Audience.
      operationId: Audiences_DeleteAudience
      parameters:
      - name: audienceId
        in: path
        description: Mandatory. The id of the audience to delete.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            text/html:
              schema:
                type: object
        '204':
          description: Audience was deleted.
          content: {}
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: The Advertiser this Audience belongs to is not in current user's portfolio.
          content: {}
        '404':
          description: Audience not found.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
  /legacy/marketing/v1/audiences/userlist/{audienceId}/users:
    delete:
      tags:
      - Audiences
      summary: Audiences Remove Users From Audience
      description: Remove all users from an Audience.
      operationId: Audiences_RemoveUsersFromAudience
      parameters:
      - name: audienceId
        in: path
        description: Mandatory. The id of the audience to empty.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            text/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            text/xml:
              schema:
                type: object
            text/html:
              schema:
                type: object
        '204':
          description: Audience was emptied.
          content: {}
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: The Advertiser this Audience belongs to is not in current user's portfolio.
          content: {}
        '404':
          description: Audience not found.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
  /legacy/marketing/v1/audiences/userlist/{audienceId}:
    patch:
      tags:
      - Audiences
      summary: Audiences Add Remove Users To Audience
      description: Add/Remove users to an Audience.
      operationId: Audiences_AddRemoveUsersToAudience
      parameters:
      - name: audienceId
        in: path
        description: Mandatory. The id of the audience to add or remove users to.
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        description: Mandatory. The request to create the Audience.
        content:
          application/json:
            schema:
              type: object
              properties:
                operation:
                  type: string
                  description: Mandatory. The Operation of this request. Can be either 'add' or 'remove'.
                schema:
                  type: string
                  description: Mandatory. The Schema specified for the identifiers. Can be 'email', 'madid', 'identityLink' or 'gum'.
                identifiers:
                  type: array
                  description: Mandatory. The identifiers.
                  items:
                    type: string
                gumCallerId:
                  type: integer
                  description: Optional. GumCallerId required only when patching identifiers with 'gum' schema.
                  format: int32
              x-readme-ref-name: AudiencePatchRequest
          text/json:
            schema:
              type: object
              properties:
                operation:
                  type: string
                  description: Mandatory. The Operation of this request. Can be either 'add' or 'remove'.
                schema:
                  type: string
                  description: Mandatory. The Schema specified for the identifiers. Can be 'email', 'madid', 'identityLink' or 'gum'.
                identifiers:
                  type: array
                  description: Mandatory. The identifiers.
                  items:
                    type: string
                gumCallerId:
                  type: integer
                  description: Optional. GumCallerId required only when patching identifiers with 'gum' schema.
                  format: int32
              x-readme-ref-name: AudiencePatchRequest
          application/xml:
            schema:
              type: object
              properties:
                operation:
                  type: string
                  description: Mandatory. The Operation of this request. Can be either 'add' or 'remove'.
                schema:
                  type: string
                  description: Mandatory. The Schema specified for the identifiers. Can be 'email', 'madid', 'identityLink' or 'gum'.
                identifiers:
                  type: array
                  description: Mandatory. The identifiers.
                  items:
                    type: string
                gumCallerId:
                  type: integer
                  description: Optional. GumCallerId required only when patching identifiers with 'gum' schema.
                  format: int32
              x-readme-ref-name: AudiencePatchRequest
          text/xml:
            schema:
              type: object
              properties:
                operation:
                  type: string
                  description: Mandatory. The Operation of this request. Can be either 'add' or 'remove'.
                schema:
                  type: string
                  description: Mandatory. The Schema specified for the identifiers. Can be 'email', 'madid', 'identityLink' or 'gum'.
                identifiers:
                  type: array
                  description: Mandatory. The identifiers.
                  items:
                    type: string
                gumCallerId:
                  type: integer
                  description: Optional. GumCallerId required only when patching identifiers with 'gum' schema.
                  format: int32
              x-readme-ref-name: AudiencePatchRequest
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                operation:
                  type: string
                  description: Mandatory. The Operation of this request. Can be either 'add' or 'remove'.
                schema:
                  type: string
                  description: Mandatory. The Schema specified for the identifiers. Can be 'email', 'madid', 'identityLink' or 'gum'.
                identifiers:
                  type: array
                  description: Mandatory. The identifiers.
                  items:
                    type: string
                gumCallerId:
                  type: integer
                  description: Optional. GumCallerId required only when patching identifiers with 'gum' schema.
                  format: int32
              x-readme-ref-name: AudiencePatchRequest
          text/html:
            schema:
              type: object
              properties:
                operation:
                  type: string
                  description: Mandatory. The Operation of this request. Can be either 'add' or 'remove'.
                schema:
                  type: string
                  description: Mandatory. The Schema specified for the identifiers. Can be 'email', 'madid', 'identityLink' or 'gum'.
                identifiers:
                  type: array
                  description: Mandatory. The identifiers.
                  items:
                    type: string
                gumCallerId:
                  type: integer
                  description: Optional. GumCallerId required only when patching identifiers with 'gum' schema.
                  format: int32
              x-readme-ref-name: AudiencePatchRequest
        required: true
      responses:
        '200':
          description: Users were Added/Removed successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  operation:
                    type: string
                    description: The Operation recorded.
                  requestDate:
                    type: string
                    description: When the Operation was recorded.
                    format: date-time
                  schema:
                    type: string
                    description: The schema specified for the identifiers.
                  nbValidIdentifiers:
                    type: integer
                    format: int32
                  nbInvalidIdentifiers:
                    type: integer
                    format: int32
                  sampleInvalidIdentifiers:
                    type: array
                    description: Optionnal. A sample of invalid identifiers if there is some.
                    items:
                      type: string
                x-readme-ref-name: AudiencePatchResponse
            text/json:
              schema:
                type: object
                properties:
                  operation:
                    type: string
                    description: The Operation recorded.
                  requestDate:
                    type: string
                    description: When the Operation was recorded.
                    format: date-time
                  schema:
                    type: string
                    description: The schema specified for the identifiers.
                  nbValidIdentifiers:
                    type: integer
                    format: int32
                  nbInvalidIdentifiers:
                    type: integer
                    format: int32
                  sampleInvalidIdentifiers:
                    type: array
                    description: Optionnal. A sample of invalid identifiers if there is some.
                    items:
                      type: string
                x-readme-ref-name: AudiencePatchResponse
            application/xml:
              schema:
                type: object
                properties:
                  operation:
                    type: string
                    description: The Operation recorded.
                  requestDate:
                    type: string
                    description: When the Operation was recorded.
                    format: date-time
                  schema:
                    type: string
                    description: The schema specified for the identifiers.
                  nbValidIdentifiers:
                    type: integer
                    format: int32
                  nbInvalidIdentifiers:
                    type: integer
                    format: int32
                  sampleInvalidIdentifiers:
                    type: array
                    description: Optionnal. A sample of invalid identifiers if there is some.
                    items:
                      type: string
                x-readme-ref-name: AudiencePatchResponse
            text/xml:
              schema:
                type: object
                properties:
                  operation:
                    type: string
                    description: The Operation recorded.
                  requestDate:
                    type: string
                    description: When the Operation was recorded.
                    format: date-time
                  schema:
                    type: string
                    description: The schema specified for the identifiers.
                  nbValidIdentifiers:
                    type: integer
                    format: int32
                  nbInvalidIdentifiers:
                    type: integer
                    format: int32
                  sampleInvalidIdentifiers:
                    type: array
                    description: Optionnal. A sample of invalid identifiers if there is some.
                    items:
                      type: string
                x-readme-ref-name: AudiencePatchResponse
            text/html:
              schema:
                type: object
                properties:
                  operation:
                    type: string
                    description: The Operation recorded.
                  requestDate:
                    type: string
                    description: When the Operation was recorded.
                    format: date-time
                  schema:
                    type: string
                    description: The schema specified for the identifiers.
                  nbValidIdentifiers:
                    type: integer
                    format: int32
                  nbInvalidIdentifiers:
                    type: integer
                    format: int32
                  sampleInvalidIdentifiers:
                    type: array
                    description: Optionnal. A sample of invalid identifiers if there is some.
                    items:
                      type: string
                x-readme-ref-name: AudiencePatchResponse
        '400':
          description: Invalid Operation, Schema, no valid identifiers given, too many identifiers given in a single request or invalid use of Gum caller id field.
          content: {}
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: The Advertiser this Audience belongs to is not in current user's portfolio.
          content: {}
        '404':
          description: Audience not found.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
      x-codegen-request-body-name: request
  /legacy/marketing/v1/budgets:
    get:
      tags:
      - Campaigns
      summary: Budgets Get
      description: "Get the list of budgets with the specified filters.\r\nIf an advertiser or a budget is requested but is missing from current user's portfolio, it will not be included in the list.\r\nIf neither budgets ids nor advertisers ids are provided, then the user's portfolio will be used."
      operationId: Budgets_Get
      parameters:
      - name: advertiserIds
        in: query
        description: Optional. One or more advertiser ids, E.g. 78, 12932, 45236. If the requested advertiser ids are not part of the user's portfolio, they will be skipped.
        schema:
          type: string
      - name: budgetIds
        in: query
        description: Optional. One or more budget ids, E.g. 75, 1931, 532. If the requested budget ids are not part of the user's portfolio, they will be skipped.
        schema:
          type: string
      - name: onlyActiveCampaigns
        in: query
        description: Optional. Filters by campaign status, allowing to only display active campaigns or not. Default value is true.
        schema:
          type: boolean
      responses:
        '200':
          description: Budgets returned OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    advertiserId:
                      type: integer
                      format: int32
                    budgetId:
                      type: integer
                      format: int32
                    budgetName:
                      type: string
                    type:
                      type: string
                      readOnly: true
                    totalAmount:
                      type: number
                      format: double
                    remainingBudget:
                      type: number
                      format: double
                    remainingBudgetUpdated:
                      type: string
                      format: date-time
                    active:
                      type: boolean
                  x-readme-ref-name: BudgetMessage
            text/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    advertiserId:
                      type: integer
                      format: int32
                    budgetId:
                      type: integer
                      format: int32
                    budgetName:
                      type: string
                    type:
                      type: string
                      readOnly: true
                    totalAmount:
                      type: number
                      format: double
                    remainingBudget:
                      type: number
                      format: double
                    remainingBudgetUpdated:
                      type: string
                      format: date-time
                    active:
                      type: boolean
                  x-readme-ref-name: BudgetMessage
            application/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    advertiserId:
                      type: integer
                      format: int32
                    budgetId:
                      type: integer
                      format: int32
                    budgetName:
                      type: string
                    type:
                      type: string
                      readOnly: true
                    totalAmount:
                      type: number
                      format: double
                    remainingBudget:
                      type: number
                      format: double
                    remainingBudgetUpdated:
                      type: string
                      format: date-time
                    active:
                      type: boolean
                  x-readme-ref-name: BudgetMessage
            text/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    advertiserId:
                      type: integer
                      format: int32
                    budgetId:
                      type: integer
                      format: int32
                    budgetName:
                      type: string
                    type:
                      type: string
                      readOnly: true
                    totalAmount:
                      type: number
                      format: double
                    remainingBudget:
                      type: number
                      format: double
                    remainingBudgetUpdated:
                      type: string
                      format: date-time
                    active:
                      type: boolean
                  x-readme-ref-name: BudgetMessage
            text/html:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    advertiserId:
                      type: integer
                      format: int32
                    budgetId:
                      type: integer
                      format: int32
                    budgetName:
                      type: string
                    type:
                      type: string
                      readOnly: true
                    totalAmount:
                      type: number
                      format: double
                    remainingBudget:
                      type: number
                      format: double
                    remainingBudgetUpdated:
                      type: string
                      format: date-time
                    active:
                      type: boolean
                  x-readme-ref-name: BudgetMessage
        '400':
          description: No advertiser was specified and user does not have a portfolio.
          content: {}
        '401':
          description: Authentication failed.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
  /legacy/marketing/v1/campaigns:
    get:
      tags:
      - Campaigns
      summary: Campaigns Get Campaigns
      description: "Get the list of campaigns with the specified filters.\r\nIf a campaign is requested but is missing from current user's portfolio, it will not be included in the list.\r\nIf neither campaign ids nor advertisers ids are provided, then the user's portfolio will be used."
      operationId: Campaigns_GetCampaigns
      parameters:
      - name: campaignIds
        in: query
        description: Optional. One or more campaign ids, E.g., 78, 12932, 45236. If the campaign ids requested are not linked to advertisers in the user's portfolio, they will be skipped.
        schema:
          type: string
      - name: advertiserIds
        in: query
        description: Optional. One or more advertiser ids, E.g., 78, 12932, 45236. If the advertiser ids requested are not part of the user's portfolio, they will be skipped.
        schema:
          type: string
      - name: campaignStatus
        in: query
        description: Optional. Filters by campaign status. By default no filtering is applied.
        schema:
          type: string
          enum:
          - Running
          - Archived
          - NotRunning
      - name: bidType
        in: query
        description: Optional. Filters by campaign bid type. By default, no filtering is applied.
        schema:
          type: string
          enum:
          - Unknown
          - CPC
          - COS
          - CPO
      responses:
        '200':
          description: Campaigns returned OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
            text/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
            application/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
            text/xml:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
            text/html:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    campaignType:
                      type: string
                      enum:
                      - MidFunnel
                      - LowerFunnel
                      - AudienceSelling
                    advertiserName:
                      type: string
                    categories:
                      type: array
                      items:
                        type: integer
                        format: int32
                    budgetId:
                      type: integer
                      format: int32
                    campaignId:
                      type: integer
                      format: int32
                    campaignName:
                      type: string
                    advertiserId:
                      type: integer
                      format: int32
                    campaignStatus:
                      type: string
                      enum:
                      - Running
                      - Archived
                      - NotRunning
                    campaignBid:
                      type: object
                      properties:
                        bidValue:
                          type: number
                          format: double
                        bidCurrency:
                          type: string
                        bidType:
                          type: string
                          enum:
                          - Unknown
                          - CPC
                          - COS
                          - CPO
                        bidIsPending:
                          type: boolean
                      x-readme-ref-name: BidMessage
                  x-readme-ref-name: CampaignMessage
        '400':
          description: There is not even one valid advertiserId or campaignId requested.
          content: {}
        '401':
          description: Authentication failed.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
  /legacy/marketing/v1/campaigns/{campaignId}:
    get:
      tags:
      - Campaigns
      summary: Campaigns Get Campaign
      description: Get a specific campaign
      operationId: Campaigns_GetCampaign
      parameters:
      - name: campaignId
        in: path
        description: Mandatory. The id of the campaign to return.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Campaign returned OK.
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaignType:
                    type: string
                    enum:
                    - MidFunnel
                    - LowerFunnel
                    - AudienceSelling
                  advertiserName:
                    type: string
                  categories:
                    type: array
                    items:
                      type: integer
                      format: int32
                  budgetId:
                    type: integer
                    format: int32
                  campaignId:
                    type: integer
                    format: int32
                  campaignName:
                    type: string
                  advertiserId:
                    type: integer
                    format: int32
                  campaignStatus:
                    type: string
                    enum:
                    - Running
                    - Archived
                    - NotRunning
                  campaignBid:
                    type: object
                    properties:
                      bidValue:
                        type: number
                        format: double
                      bidCurrency:
                        type: string
                      bidType:
                        type: string
                        enum:
                        - Unknown
                        - CPC
                        - COS
                        - CPO
                      bidIsPending:
                        type: boolean
                    x-readme-ref-name: BidMessage
                x-readme-ref-name: CampaignMessage
            text/json:
              schema:
                type: object
                properties:
                  campaignType:
                    type: string
                    enum:
                    - MidFunnel
                    - LowerFunnel
                    - AudienceSelling
                  advertiserName:
                    type: string
                  categories:
                    type: array
                    items:
                      type: integer
                      format: int32
                  budgetId:
                    type: integer
                    format: int32
                  campaignId:
                    type: integer
                    format: int32
                  campaignName:
                    type: string
                  advertiserId:
                    type: integer
                    format: int32
                  campaignStatus:
                    type: string
                    enum:
                    - Running
                    - Archived
                    - NotRunning
                  campaignBid:
                    type: object
                    properties:
                      bidValue:
                        type: number
                        format: double
                      bidCurrency:
                        type: string
                      bidType:
                        type: string
                        enum:
                        - Unknown
                        - CPC
                        - COS
                        - CPO
                      bidIsPending:
                        type: boolean
                    x-readme-ref-name: BidMessage
                x-readme-ref-name: CampaignMessage
            application/xml:
              schema:
                type: object
                properties:
                  campaignType:
                    type: string
                    enum:
                    - MidFunnel
                    - LowerFunnel
                    - AudienceSelling
                  advertiserName:
                    type: string
                  categories:
                    type: array
                    items:
                      type: integer
                      format: int32
                  budgetId:
                    type: integer
                    format: int32
                  campaignId:
                    type: integer
                    format: int32
                  campaignName:
                    type: string
                  advertiserId:
                    type: integer
                    format: int32
                  campaignStatus:
                    type: string
                    enum:
                    - Running
                    - Archived
                    - NotRunning
                  campaignBid:
                    type: object
                    properties:
                      bidValue:
                        type: number
                        format: double
                      bidCurrency:
                        type: string
                      bidType:
                        type: string
                        enum:
                        - Unknown
                        - CPC
                        - COS
                        - CPO
                      bidIsPending:
                        type: boolean
                    x-readme-ref-name: BidMessage
                x-readme-ref-name: CampaignMessage
            text/xml:
              schema:
                type: object
                properties:
                  campaignType:
                    type: string
                    enum:
                    - MidFunnel
                    - LowerFunnel
                    - AudienceSelling
                  advertiserName:
                    type: string
                  categories:
                    type: array
                    items:
                      type: integer
                      format: int32
                  budgetId:
                    type: integer
                    format: int32
                  campaignId:
                    type: integer
                    format: int32
                  campaignName:
                    type: string
                  advertiserId:
                    type: integer
                    format: int32
                  campaignStatus:
                    type: string
                    enum:
                    - Running
                    - Archived
                    - NotRunning
                  campaignBid:
                    type: object
                    properties:
                      bidValue:
                        type: number
                        format: double
                      bidCurrency:
                        type: string
                      bidType:
                        type: string
                        enum:
                        - Unknown
                        - CPC
                        - COS
                        - CPO
                      bidIsPending:
                        type: boolean
                    x-readme-ref-name: BidMessage
                x-readme-ref-name: CampaignMessage
            text/html:
              schema:
                type: object
                properties:
                  campaignType:
                    type: string
                    enum:
                    - MidFunnel
                    - LowerFunnel
                    - AudienceSelling
                  advertiserName:
                    type: string
                  categories:
                    type: array
                    items:
                      type: integer
                      format: int32
                  budgetId:
                    type: integer
                    format: int32
                  campaignId:
                    type: integer
                    format: int32
                  campaignName:
                    type: string
                  advertiserId:
                    type: integer
                    format: int32
                  campaignStatus:
                    type: string
                    enum:
                    - Running
                    - Archived
                    - NotRunning
                  campaignBid:
                    type: object
                    properties:
                      bidValue:
                        type: number
                        format: double
                      bidCurrency:
                        type: string
                      bidType:
                        type: string
                        enum:
                        - Unknown
                        - CPC
                        - COS
                        - CPO
                      bidIsPending:
                        type: boolean
                    x-readme-ref-name: BidMessage
                x-readme-ref-name: CampaignMessage
        '401':
          description: Authentication failed.
          content: {}
        '403':
          description: One of the requested campaigns doesn't belong to the API user's portfolio which prevents from accessing its data.
          content: {}
        '404':
          description: The requested campaign was not found.
          content: {}
        '429':
          description: Throttling failure. Maximum sending rate exceeded.
          content: {}
        '500':
          description: Unknown error.
          content: {}
  /legacy/marketing/v1/campaigns/{campaignId}/categories:
    get:
      tags:
      - Campaigns
      summary: Campaigns Get Categories
      description: Get the list of categories linked to the requested campaign.
      operationId: Campaigns_GetCategories
      parameters:
      - name: campaignId
        in: path
        description: Mandatory. The id of the campaign the categories are linked to.
        required: true
        schema:
          type: integer
          format: int32
      - name: enabledOnly
        in: query
        description: Optional. Returns only categories you can bid on. Defaults to false.
        schema:
          type: boolean
      responses:
        '200':
          description: Categories returned OK.
          content:
            application/json:
[...]
