openapi: 3.0.1
info:
  title: Criteo API
  description: Criteo API - MarketingSolutions
  version: Preview
servers:
- url: https://api.criteo.com
paths:
  /preview/ads/{ad-id}/product-filter:
    delete:
      tags:
      - Reco
      description: Disable product filtering for a given ad
      operationId: DisableProductFiltering
      parameters:
      - name: ad-id
        in: path
        description: ID of the ad
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        required:
                        - adId
                        - productSetId
                        type: object
                        properties:
                          adId:
                            type: string
                          productSetId:
                            type: string
                        description: Entity to create a product filter configuration
                        nullable: true
                        x-readme-ref-name: ProductFilterConfig
                      type:
                        type: string
                        nullable: true
                    description: A top-level object that encapsulates a Criteo API response for a single value.
                    nullable: true
                    x-readme-ref-name: ValueResourceOfProductFilterConfig
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single value.
                x-readme-ref-name: ValueResourceOutcomeOfProductFilterConfig
      security:
      - oauth:
        - MarketingSolutions_Reco_Manage
      summary: Disable Product Filtering
    get:
      tags:
      - Reco
      description: Fetch product filtering configuration for a given ad
      operationId: FetchProductFilteringConfig
      parameters:
      - name: ad-id
        in: path
        description: ID of the ad
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation. Returns the product filtering configuration if it exists, or empty data if it doesn't.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        required:
                        - adId
                        - productSetId
                        type: object
                        properties:
                          adId:
                            type: string
                          productSetId:
                            type: string
                        description: Entity to create a product filter configuration
                        nullable: true
                        x-readme-ref-name: ProductFilterConfig
                      type:
                        type: string
                        nullable: true
                    description: A top-level object that encapsulates a Criteo API response for a single value.
                    nullable: true
                    x-readme-ref-name: ValueResourceOfProductFilterConfig
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single value.
                x-readme-ref-name: ValueResourceOutcomeOfProductFilterConfig
      security:
      - oauth:
        - MarketingSolutions_Reco_Read
      summary: Fetch Product Filtering Config
    post:
      tags:
      - Reco
      description: Enable product filtering for a given ad
      operationId: EnableProductFiltering
      parameters:
      - name: ad-id
        in: path
        description: ID of the ad
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      type: object
                      properties:
                        productSetId:
                          type: string
                          nullable: true
                      description: Encapsulate the parameters needed to enable product filtering
                      x-readme-ref-name: CreateProductFilterRequest
                    type:
                      type: string
                      nullable: true
                  description: A top-level object that encapsulates a Criteo API response for a single value.
                  x-readme-ref-name: ValueResourceOfCreateProductFilterRequest
              description: A top-level object that encapsulates a Criteo API request for a single value.
              x-readme-ref-name: ValueResourceInputOfCreateProductFilterRequest
        x-bodyName: createProductFilterRequest
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        required:
                        - adId
                        - productSetId
                        type: object
                        properties:
                          adId:
                            type: string
                          productSetId:
                            type: string
                        description: Entity to create a product filter configuration
                        nullable: true
                        x-readme-ref-name: ProductFilterConfig
                      type:
                        type: string
                        nullable: true
                    description: A top-level object that encapsulates a Criteo API response for a single value.
                    nullable: true
                    x-readme-ref-name: ValueResourceOfProductFilterConfig
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single value.
                x-readme-ref-name: ValueResourceOutcomeOfProductFilterConfig
      security:
      - oauth:
        - MarketingSolutions_Reco_Manage
      summary: Enable Product Filtering
  /preview/ads/{id}:
    delete:
      tags:
      - Creative
      description: Delete an Ad
      operationId: DeleteAd
      parameters:
      - name: id
        in: path
        description: The ad identifier to delete.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: The ad was deleted.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: Delete Ad
    get:
      tags:
      - Creative
      description: Get an Ad with its id
      operationId: GetAd
      parameters:
      - name: id
        in: path
        description: The ad identifier to retrieve.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The found ad is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          adSetId:
                            type: string
                            description: The id of the Ad Set binded to this Ad
                            nullable: true
                          creativeId:
                            type: string
                            description: The id of the Creative binded to this Ad
                            nullable: true
                          description:
                            type: string
                            description: The description of the ad
                            nullable: true
                          endDate:
                            type: string
                            description: "The date when when we will stop to show this ad. If the end date is not specified (i.e. null) then the ad will go on forever\r\nString must be in ISO8601 format"
                            nullable: true
                          id:
                            type: string
                            description: Unique identifier (duplicate of the parent id).
                            nullable: true
                          inventoryType:
                            enum:
                            - Native
                            - Display
                            - Video
                            type: string
                            description: The inventory the Ad belongs to. Possible values are "Display" and "Native". This is optional since this doesn't make sense for every creative type but will throw an error if not set for a dynamic creative.
                            nullable: true
                          name:
                            type: string
                            description: The name of the ad
                            nullable: true
                          startDate:
                            type: string
                            description: "The date when the ad will be launched\r\nString must be in ISO8601 format"
                            nullable: true
                        description: An ad is the binding that connects a creative with an ad set
                        nullable: true
                        x-readme-ref-name: Ad
                      id:
                        type: string
                        description: Unique identifier of this resource.
                        nullable: true
                      type:
                        type: string
                        nullable: true
                    description: A class that represents a domain entity exposed by an API.
                    nullable: true
                    x-readme-ref-name: ResourceOfAd
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single entity.
                x-readme-ref-name: ResourceOutcomeOfAd
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: Get Ad
  /preview/advertisers/{advertiser-id}/ads:
    get:
      tags:
      - Creative
      description: Get the list of self-services Ads for a given advertiser
      operationId: GetAdvertiserAds
      parameters:
      - name: advertiser-id
        in: path
        description: The advertiser identifier.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of ads to be returned. The default is 50.
        schema:
          type: integer
          format: int32
          nullable: true
      - name: offset
        in: query
        description: The (zero-based) offset into the collection of ads. The default is 0.
        schema:
          type: integer
          format: int32
          nullable: true
      responses:
        '200':
          description: The list of self-services Ads is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            adSetId:
                              type: string
                              description: The id of the Ad Set binded to this Ad
                              nullable: true
                            creativeId:
                              type: string
                              description: The id of the Creative binded to this Ad
                              nullable: true
                            description:
                              type: string
                              description: The description of the ad
                              nullable: true
                            endDate:
                              type: string
                              description: "The date when when we will stop to show this ad. If the end date is not specified (i.e. null) then the ad will go on forever\r\nString must be in ISO8601 format"
                              nullable: true
                            id:
                              type: string
                              description: Unique identifier (duplicate of the parent id).
                              nullable: true
                            inventoryType:
                              enum:
                              - Native
                              - Display
                              - Video
                              type: string
                              description: The inventory the Ad belongs to. Possible values are "Display" and "Native". This is optional since this doesn't make sense for every creative type but will throw an error if not set for a dynamic creative.
                              nullable: true
                            name:
                              type: string
                              description: The name of the ad
                              nullable: true
                            startDate:
                              type: string
                              description: "The date when the ad will be launched\r\nString must be in ISO8601 format"
                              nullable: true
                          description: An ad is the binding that connects a creative with an ad set
                          nullable: true
                          x-readme-ref-name: Ad
                        id:
                          type: string
                          description: Unique identifier of this resource.
                          nullable: true
                        type:
                          type: string
                          nullable: true
                      description: A class that represents a domain entity exposed by an API.
                      nullable: true
                      x-readme-ref-name: ResourceOfAd
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for several entities.
                x-readme-ref-name: ResourceCollectionOutcomeOfAd
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: Get Advertiser Ads
    post:
      tags:
      - Creative
      description: Create an Ad
      operationId: CreateAdvertiserAd
      parameters:
      - name: advertiser-id
        in: path
        description: The advertiser identifier.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      required:
                      - adSetId
                      - creativeId
                      - name
                      - startDate
                      type: object
                      properties:
                        adSetId:
                          type: string
                          description: The id of the Ad Set bound to this Ad
                        creativeId:
                          type: string
                          description: The id of the Creative bound to this Ad
                        description:
                          type: string
                          description: The description of the ad
                          nullable: true
                        endDate:
                          type: string
                          description: "The date when when we will stop to show this ad. If the end date is not specified (i.e. null) then the ad will go on forever\r\nString must be in ISO8601 format"
                          nullable: true
                        inventoryType:
                          enum:
                          - Display
                          - Native
                          type: string
                          description: The inventory the Ad to be created or updated belongs to. Possible values are "Display" and "Native". This is optional since this doesn't make sense for every creative type but will throw an error if not set for a dynamic creative.
                          nullable: true
                        name:
                          type: string
                          description: The name of the ad
                        startDate:
                          type: string
                          description: "The date when the ad will be launched\r\nString must be in ISO8601 format"
                      description: Entity to create or update an ad
                      x-readme-ref-name: AdWrite
                    id:
                      type: string
                      description: Unique identifier of this resource.
                      nullable: true
                    type:
                      type: string
                      nullable: true
                  description: A class that represents a domain entity exposed by an API.
                  x-readme-ref-name: ResourceOfAdWrite
              description: A top-level object that encapsulates a Criteo API request for a single entity.
              x-readme-ref-name: ResourceInputOfAdWrite
        required: true
        x-bodyName: request
      responses:
        '201':
          description: The created Ad is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          adSetId:
                            type: string
                            description: The id of the Ad Set binded to this Ad
                            nullable: true
                          creativeId:
                            type: string
                            description: The id of the Creative binded to this Ad
                            nullable: true
                          description:
                            type: string
                            description: The description of the ad
                            nullable: true
                          endDate:
                            type: string
                            description: "The date when when we will stop to show this ad. If the end date is not specified (i.e. null) then the ad will go on forever\r\nString must be in ISO8601 format"
                            nullable: true
                          id:
                            type: string
                            description: Unique identifier (duplicate of the parent id).
                            nullable: true
                          inventoryType:
                            enum:
                            - Native
                            - Display
                            - Video
                            type: string
                            description: The inventory the Ad belongs to. Possible values are "Display" and "Native". This is optional since this doesn't make sense for every creative type but will throw an error if not set for a dynamic creative.
                            nullable: true
                          name:
                            type: string
                            description: The name of the ad
                            nullable: true
                          startDate:
                            type: string
                            description: "The date when the ad will be launched\r\nString must be in ISO8601 format"
                            nullable: true
                        description: An ad is the binding that connects a creative with an ad set
                        nullable: true
                        x-readme-ref-name: Ad
                      id:
                        type: string
                        description: Unique identifier of this resource.
                        nullable: true
                      type:
                        type: string
                        nullable: true
                    description: A class that represents a domain entity exposed by an API.
                    nullable: true
                    x-readme-ref-name: ResourceOfAd
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single entity.
                x-readme-ref-name: ResourceOutcomeOfAd
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: Create Advertiser Ad
  /preview/advertisers/{advertiser-id}/coupons:
    get:
      tags:
      - Creative
      description: Get the list of self-services Coupons for a given advertiser
      operationId: GetAdvertiserCoupons
      parameters:
      - name: advertiser-id
        in: path
        description: The advertiser identifier.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of coupons to be returned. The default is 50.
        schema:
          type: integer
          format: int32
          nullable: true
      - name: offset
        in: query
        description: The (zero-based) offset into the collection of coupons. The default is 0.
        schema:
          type: integer
          format: int32
          nullable: true
      responses:
        '200':
          description: The list of self-services Coupons is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        attributes:
                          type: object
                          properties:
                            adSetId:
                              type: string
                              description: The id of the Ad Set on which the Coupon is applied to
                              nullable: true
                            advertiserId:
                              type: string
                              description: Advertiser linked to the Coupon
                              nullable: true
                            author:
                              type: string
                              description: The login of the person who created this Coupon
                              nullable: true
                            description:
                              type: string
                              description: The description of the Coupon
                              nullable: true
                            endDate:
                              type: string
                              description: "The date when when we will stop to show this Coupon. If the end date is not specified (i.e. null) then the Coupon will go on forever\r\nString must be in ISO8601 format"
                              nullable: true
                            format:
                              type: string
                              description: 'Format of the Coupon, it can have two values: "FullFrame" or "LogoZone"'
                              nullable: true
                            id:
                              type: string
                              description: Unique identifier (duplicate of the parent id).
                              nullable: true
                            images:
                              type: array
                              items:
                                type: object
                                properties:
                                  height:
                                    type: integer
                                    description: Height of the Coupon slide
                                    format: int32
                                    nullable: true
                                  slideUrls:
                                    type: array
                                    items:
                                      type: string
                                    description: Array of images of the same size uploaded on demostatic.criteo.com when deploying and then static.criteo.net
                                    nullable: true
                                  width:
                                    type: integer
                                    description: Width of the Coupon slide
                                    format: int32
                                    nullable: true
                                description: Slide containing the image URLs
                                x-readme-ref-name: ImageSlide
                              description: List of slides containing the image URLs
                              nullable: true
                            landingPageUrl:
                              type: string
                              description: Web redirection of the landing page url
                              nullable: true
                            name:
                              type: string
                              description: The name of the Coupon
                              nullable: true
                            rotationsNumber:
                              type: integer
                              description: Number of rotations for the Coupons (from 1 to 10 times)
                              format: int32
                              nullable: true
                            showDuration:
                              type: integer
                              description: Show Coupon for a duration of N seconds (between 1 and 5)
                              format: int32
                              nullable: true
                            showEvery:
                              type: integer
                              description: Show the Coupon every N seconds (between 1 and 10)
                              format: int32
                              nullable: true
                            startDate:
                              type: string
                              description: "The date when the Coupon will be launched\r\nString must be in ISO8601 format"
                              nullable: true
                            status:
                              type: string
                              description: The status of the Coupon
                              nullable: true
                          description: Coupons are static images applied on ad set which can be displayed within an ad and link to a landing page.
                          nullable: true
                          x-readme-ref-name: Coupon
                        id:
                          type: string
                          description: Unique identifier of this resource.
                          nullable: true
                        type:
                          type: string
                          nullable: true
                      description: A class that represents a domain entity exposed by an API.
                      nullable: true
                      x-readme-ref-name: ResourceOfCoupon
                    nullable: true
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for several entities.
                x-readme-ref-name: ResourceCollectionOutcomeOfCoupon
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: Get Advertiser Coupons
    post:
      tags:
      - Creative
      description: Create a Coupon
      operationId: CreateAdvertiserCoupon
      parameters:
      - name: advertiser-id
        in: path
        description: The advertiser identifier.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    attributes:
                      required:
                      - adSetId
                      - format
                      - images
                      - landingPageUrl
                      - name
                      - rotationsNumber
                      - showDuration
                      - showEvery
                      - startDate
                      type: object
                      properties:
                        adSetId:
                          type: string
                          description: The id of the Ad Set on which the Coupon is applied to
                        description:
                          type: string
                          description: The description of the Coupon
                          nullable: true
                        endDate:
                          type: string
                          description: "The date when when we will stop to show this Coupon. If the end date is not specified (i.e. null) then the Coupon will go on forever\r\nString must be in ISO8601 format"
                          nullable: true
                        format:
                          enum:
                          - FullFrame
                          - LogoZone
                          type: string
                          description: 'Format of the Coupon, it can have two values: "FullFrame" or "LogoZone"'
                        images:
                          type: array
                          items:
                            type: object
                            properties:
                              height:
                                type: integer
                                description: Height of the Coupon slide
                                format: int32
                              slideBase64Strings:
                                type: array
                                items:
                                  type: string
                                description: Array of images of the same size as a base-64 encoded string
                                nullable: true
                              width:
                                type: integer
                                description: Width of the Coupon slide
                                format: int32
                            description: Slide containing the images of the same size as a base-64 encoded string
                            x-readme-ref-name: CreateImageSlide
                          description: List of slides containing the images as a base-64 encoded string
                        landingPageUrl:
                          type: string
                          description: Web redirection of the landing page url
                        name:
                          type: string
                          description: The name of the Coupon
                        rotationsNumber:
                          maximum: 10
                          minimum: 1
                          type: integer
                          description: Number of rotations for the Coupons (from 1 to 10 times)
                          format: int32
                        showDuration:
                          maximum: 5
                          minimum: 1
                          type: integer
                          description: Show Coupon for a duration of N seconds (between 1 and 5)
                          format: int32
                        showEvery:
                          maximum: 10
                          minimum: 1
                          type: integer
                          description: Show the Coupon every N seconds (between 1 and 10)
                          format: int32
                        startDate:
                          type: string
                          description: "The date when the coupon will be launched\r\nString must be in ISO8601 format"
                      description: Entity to create a Coupon
                      x-readme-ref-name: CreateCoupon
                    id:
                      type: string
                      description: Unique identifier of this resource.
                      nullable: true
                    type:
                      type: string
                      nullable: true
                  description: A class that represents a domain entity exposed by an API.
                  x-readme-ref-name: ResourceOfCreateCoupon
              description: A top-level object that encapsulates a Criteo API request for a single entity.
              x-readme-ref-name: ResourceInputOfCreateCoupon
        required: true
        x-bodyName: request
      responses:
        '201':
          description: The created Coupon is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          adSetId:
                            type: string
                            description: The id of the Ad Set on which the Coupon is applied to
                            nullable: true
                          advertiserId:
                            type: string
                            description: Advertiser linked to the Coupon
                            nullable: true
                          author:
                            type: string
                            description: The login of the person who created this Coupon
                            nullable: true
                          description:
                            type: string
                            description: The description of the Coupon
                            nullable: true
                          endDate:
                            type: string
                            description: "The date when when we will stop to show this Coupon. If the end date is not specified (i.e. null) then the Coupon will go on forever\r\nString must be in ISO8601 format"
                            nullable: true
                          format:
                            type: string
                            description: 'Format of the Coupon, it can have two values: "FullFrame" or "LogoZone"'
                            nullable: true
                          id:
                            type: string
                            description: Unique identifier (duplicate of the parent id).
                            nullable: true
                          images:
                            type: array
                            items:
                              type: object
                              properties:
                                height:
                                  type: integer
                                  description: Height of the Coupon slide
                                  format: int32
                                  nullable: true
                                slideUrls:
                                  type: array
                                  items:
                                    type: string
                                  description: Array of images of the same size uploaded on demostatic.criteo.com when deploying and then static.criteo.net
                                  nullable: true
                                width:
                                  type: integer
                                  description: Width of the Coupon slide
                                  format: int32
                                  nullable: true
                              description: Slide containing the image URLs
                              x-readme-ref-name: ImageSlide
                            description: List of slides containing the image URLs
                            nullable: true
                          landingPageUrl:
                            type: string
                            description: Web redirection of the landing page url
                            nullable: true
                          name:
                            type: string
                            description: The name of the Coupon
                            nullable: true
                          rotationsNumber:
                            type: integer
                            description: Number of rotations for the Coupons (from 1 to 10 times)
                            format: int32
                            nullable: true
                          showDuration:
                            type: integer
                            description: Show Coupon for a duration of N seconds (between 1 and 5)
                            format: int32
                            nullable: true
                          showEvery:
                            type: integer
                            description: Show the Coupon every N seconds (between 1 and 10)
                            format: int32
                            nullable: true
                          startDate:
                            type: string
                            description: "The date when the Coupon will be launched\r\nString must be in ISO8601 format"
                            nullable: true
                          status:
                            type: string
                            description: The status of the Coupon
                            nullable: true
                        description: Coupons are static images applied on ad set which can be displayed within an ad and link to a landing page.
                        nullable: true
                        x-readme-ref-name: Coupon
                      id:
                        type: string
                        description: Unique identifier of this resource.
                        nullable: true
                      type:
                        type: string
                        nullable: true
                    description: A class that represents a domain entity exposed by an API.
                    nullable: true
                    x-readme-ref-name: ResourceOfCoupon
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single entity.
                x-readme-ref-name: ResourceOutcomeOfCoupon
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: Create Advertiser Coupon
  /preview/advertisers/{advertiser-id}/coupons-supported-sizes:
    get:
      tags:
      - Creative
      description: Get the list of Coupon supported sizes
      operationId: GetAdvertiserCouponSupportedSizes
      parameters:
      - name: ad-set-id
        in: query
        description: The ad set id on which you want to check the Coupon supported sizes.
        schema:
          type: string
      - name: advertiser-id
        in: path
        description: The advertiser identifier.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The list of Coupon supported sizes is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          fullFrame:
                            type: array
                            items:
                              type: string
                            description: Array of FullFrame sizes as string in width x height format
                            nullable: true
                          logoZone:
                            type: array
                            items:
                              type: string
                            description: Array of LogoZone sizes as string in width x height format
                            nullable: true
                        description: Entity containing the list of Coupon supported sizes
                        nullable: true
                        x-readme-ref-name: CouponSupportedSizes
                      id:
                        type: string
                        description: Unique identifier of this resource.
                        nullable: true
                      type:
                        type: string
                        nullable: true
                    description: A class that represents a domain entity exposed by an API.
                    nullable: true
                    x-readme-ref-name: ResourceOfCouponSupportedSizes
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                description: A top-level object that encapsulates a Criteo API response for a single entity.
                x-readme-ref-name: ResourceOutcomeOfCouponSupportedSizes
      security:
      - oauth:
        - MarketingSolutions_Creative_Read
      summary: Get Advertiser Coupon Supported Sizes
  /preview/advertisers/{advertiser-id}/coupons/{id}:
    delete:
      tags:
      - Creative
      description: Delete a Coupon
      operationId: DeleteAdvertiserCoupon
      parameters:
      - name: advertiser-id
        in: path
        description: The advertiser identifier.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The Coupon identifier to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: The Coupon was deleted.
      security:
      - oauth:
        - MarketingSolutions_Creative_Manage
      summary: Delete Advertiser Coupon
    get:
      tags:
      - Creative
      description: Get a Coupon with its id
      operationId: GetAdvertiserCoupon
      parameters:
      - name: advertiser-id
        in: path
        description: The advertiser identifier.
        required: true
        schema:
          type: string
      - name: id
        in: path
        description: The Coupon identifier to retrieve.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The found Coupon is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      attributes:
                        type: object
                        properties:
                          adSetId:
                            type: string
                            description: The id of the Ad Set on which the Coupon is applied to
                            nullable: true
                          advertiserId:
                            type: string
                            description: Advertiser linked to the Coupon
                            nullable: true
                          author:
                            type: string
                            description: The login of the person who created this Coupon
                            nullable: true
                          description:
                            type: string
                            description: The description of the Coupon
                            nullable: true
                          endDate:
                            type: string
                            description: "The date when when we will stop to show this Coupon. If the end date is not specified (i.e. null) then the Coupon will go on forever\r\nString must be in ISO8601 format"
                            nullable: true
                          format:
                            type: string
                            description: 'Format of the Coupon, it can have two values: "FullFrame" or "LogoZone"'
                            nullable: true
                          id:
                            type: string
                            description: Unique identifier (duplicate of the parent id).
                            nullable: true
                          images:
                            type: array
                            items:
                              type: object
                              properties:
                                height:
                                  type: integer
                                  description: Height of the Coupon slide
                                  format: int32
                                  nullable: true
                                slideUrls:
                                  type: array
                                  items:
                                    type: string
                                  description: Array of images of the same size uploaded on demostatic.criteo.com when deploying and then static.criteo.net
                                  nullable: true
                                width:
                                  type: integer
                                  description: Width of the Coupon slide
                                  format: int32
                                  nullable: true
                              description: Slide containing the image URLs
                              x-readme-ref-name: ImageSlide
                            description: List of slides containing the image URLs
                            nullable: true
                          landingPageUrl:
                            type: string
                            description: Web redirection of the landing page url
                            nullable: true
                          name:
                            type: string
                            description: The name of the Coupon
                            nullable: true
                          rotationsNumber:
                            type: integer
                            description: Number of rotations for the Coupons (from 1 to 10 times)
                            format: int32
                            nullable: true
                          showDuration:
                            type: integer
                            description: Show Coupon for a duration of N seconds (between 1 and 5)
                            format: int32
                            nullable: true
                          showEvery:
                            type: integer
                            description: Show the Coupon every N seconds (between 1 and 10)
                            format: int32
                            nullable: true
                          startDate:
                            type: string
                            description: "The date when the Coupon will be launched\r\nString must be in ISO8601 format"
                            nullable: true
                          status:
                            type: string
                            description: The status of the Coupon
                            nullable: true
                        description: Coupons are static images applied on ad set which can be displayed within an ad and link to a landing page.
                        nullable: true
                        x-readme-ref-name: Coupon
                      id:
                        type: string
                        description: Unique identifier of this resource.
                        nullable: true
                      type:
                        type: string
                        nullable: true
                    description: A class that represents a domain entity exposed by an API.
                    nullable: true
                    x-readme-ref-name: ResourceOfCoupon
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
                          nullable: true
                        title:
                          type: string
                          description: A short human-readable description of the problem type
                          nullable: true
                        traceId:
                          type: string
                          description: The request correlation ID this problem comes from.
                          nullable: true
                        traceIdentifier:
                          type: string
                          description: The request correlation ID this problem comes from. (deprecated, use traceId instead)
                          nullable: true
                        type:
                          enum:
                          - unknown
                          - access-control
                          - authentication
                          - authorization
                          - availability
                          - deprecation
                          - quota
                          - validation
                          type: string
                          description: The problem's category.
                          nullable: true
                      description: Common problem object.
                      x-readme-ref-name: CommonProblem
                    nullable: true
                    readOnly: true
                  warnings:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          description: A machine-readable error code, expressed as a string value.
                          nullable: true
                        detail:
                          type: string
                          description: A human-readable explanation specific to this occurrence of the problem
                          nullable: true
                        instance:
                          type: string
                          description: A URI that identifies the specific occurrence of the problem.
                          nullable: true
                        source:
                          type: object
                          additionalProperties:
                            type: string
                          description: A machine-readable structure to reference to the exact location(s) causing the error(s)
                          nullable: true
                        stackTrace:
                          type: string
[...]
